<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--------------------    Navbar style ------------------->
    <!--    <link rel="stylesheet" th:href="@{/css/navbar-style.css}"/>-->
</head>
<body>
<!-- ---------------------------navbar--------------------------- -->

<div class="admin-navbar d-flex flex-column justify-content-between py-4" th:fragment="menu">
    <div class=" main-logo align-self-center">
        <a th:href="@{/dashboard}"><img src="/images/logo/hrd-exam.jpg" width="70px" alt="logo"></a>
    </div>
    <div class="d-flex flex-column align-items-center ">
        <div class="d-flex flex-column align-items-center my-3 ">
            <a class="menu-component" th:href="@{/dashboard}"><i class="fas fa-th-large"></i></a>
            <a class="menu-component2" th:href="@{/dashboard}">Home</a>
        </div>
        <div class="d-flex flex-column align-items-center my-3">
            <a class="menu-component" th:href="@{/dashboard/teacher/management}"><i
                    class="fas fa-chalkboard-teacher"></i></a>
            <a class="menu-component2" th:href="@{/dashboard/teacher/management}">Teacher</a>
        </div>
        <div class="d-flex flex-column align-items-center my-3">
            <a class="menu-component" th:href="@{/dashboard/student}"><i
                    class="fas fa-user-graduate"></i></a>
            <a class="menu-component2" th:href="@{/dashboard/student}">Student</a>
        </div>
        <div class="d-flex flex-column align-items-center my-3">
            <a class="menu-component" th:href="@{/dashboard/classroom/management}"><i class="fas fa-building"></i></a>
            <a class="menu-component2" th:href="@{/dashboard/classroom/management}">Class</a>
        </div>
        <div class="d-flex flex-column align-items-center my-3">
            <a class="menu-component" th:href="@{/dashboard/generation}"><i class="fas fa-users"></i></a>
            <a class="menu-component2" th:href="@{/dashboard/generation}">Generation</a>
        </div>
        <div class="d-flex flex-column align-items-center my-3">
            <a class="menu-component" th:href="@{/profile/view}"><i class="fas fa-user-circle"></i></a>
            <a class="menu-component2" th:href="@{/profile/view}">Profile</a>
        </div>
    </div>
    <div>
    </div>
</div>

<div class="subNavbar d-flex justify-content-end align-items-center mt-2" th:fragment="navProfile">
    <a th:href="@{/dashboard/teacher/register}" style="font-size: 30px; color: #0F7C9D; margin-right: 20px;">
        <i data-bs-toggle="tooltip"
           data-bs-placement="left"
           title="Add teacher"
           class="fas fa-plus-circle"></i></a>
    <!------ option button --------------->
    <div class="dropdown">
        <button class="btn btn-profile animate__animated animate__pulse animate__delay-1s" type="button" id="adminProfileOrLogout"
                data-bs-toggle="dropdown" aria-expanded="false">
            <img class=" profile-admin"  th:src="${Admin.getProfileImg()==null || Admin.getProfileImg()=='default.png'
                                     || Admin.getProfileImg()==''}
                                     ? '/images/teacher.png' : ${Admin.getProfileImg()} " alt="profile photo">
        </button>
        <ul  class="dropdown-menu myDropDownMenu  animate__animated" aria-labelledby="adminProfileOrLogout">
            <li><a th:href="@{/profile/view}">
                <button class="dropdown-item"><i class="fas fa-user"></i> Profile</button>
            </a></li>
            <li><a th:href="@{/login}">
                <button class="dropdown-item"><i class="fas fa-user"></i> Log Out</button>
            </a></li>
        </ul>
    </div>
</div>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</body>
</html>