
*{
    font-family: 'Poppins', sans-serif;
}
.body-login {
    width: 400px;
    margin: auto;
}

.body-login h5 {
    margin-top: 50px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    line-height: 54px;
}

.input-login{
    width: 100%;
    height: 45px;
    border: 2px solid #ACACAC;
    box-sizing: border-box;
    border-radius: 10px;
    margin:  5px 0;
    padding: 1rem;
}
#forget-password{
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    color: #0F7C9D;;
}
#remember-me{
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
}
.button-login{
    width: 100%;
    height: 45px;
    background: #0F7C9D;
    border: #f1f1f1;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: whitesmoke;
    font-size: 20px;
}
