

#modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: visilibity 1s, opacity 0.5s;
}

.modal{
    position: relative;
    background-color: white;
    width: 35%;
    min-width: 600px;
    height: 40%;
    min-height: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal button{
    padding: 10px 30px;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
}