/*-----------time style-----------*/
.time-box-style{
    width: 320px;
    height: 132px;
    background: linear-gradient(226.94deg, rgba(208, 206, 255, 0.53) 0%, #6E57BC 100%), linear-gradient(226.94deg, rgba(206, 240, 255, 0.53) 0%, #57AABC 100%);
    border-radius: 20px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 450;
}
.time-data{
    font-size: 40px;
    margin: 0;
    line-height: 45px;
}
.time-desc{
    font-size: 10px;
    margin: 0;
}
.time-separator{
    font-size: 40px;
    line-height: 45px;
}