*{
    font-family: 'Poppins', sans-serif;
}
/*------------ Main Section (body)----------*/
.main-section {
    min-height: 100vh;
    width: 100vw;
    background-color: #F9F9F9;
    /*padding-left: 20px;*/
}
.main-logo:hover{
    animation: heartBeat;
    animation-duration: 5s;
}
/* -------------Navbar style ---------*/
.admin-navbar {
    width: 120px;
    height: 100vh;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
}
.menu-component {
    text-decoration: none;
    color: #0F7C9D;
    display: inline-block;
    margin: 0 0.5rem;

}
.menu-component2 {
    text-decoration: none;
    color: #0F7C9D;
    display: inline-block;
    margin: 0 0.5rem;
}
.menu-component2:hover{
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    color: darkcyan;
}
.menu-component:hover{
    animation: swing; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    color: darkcyan;
}
.menu-component i{
    font-size: 2rem;
}
.menu-component i:hover{
    font-size: 2.2rem;
}
/*--------------- nav profile style ----------------*/
.subNavbar{
    position: sticky;
    top: 8px;
}
.profile-admin {
    width: 55px; !important;
    height: 55px;!important;
    border-radius: 50%
}
.btn-profile{
    border-radius: 50%;
}
.myDropDownMenu{
    width: auto;
    border-radius: 10px;
    padding: 10px;
}
.myDropDownMenu a{
    text-decoration: none;
}
.myDropDownMenu i{
    color: #888888;
}
#adminProfileOrLogout{
    padding: 0;
}