<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Profile</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--------------------    Navbar style (thymeleaf)------------------->
    <link rel="stylesheet" th:href="@{/css/navbar-style.css}"/>
    <!-- calendar -->
    <link rel="stylesheet" th:href="@{/css/demo_calendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/theme1.css}"/>
    <link rel="stylesheet" th:href="@{/css/my-time.css}"/>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
    <style>

        .table-button {
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        .teacher-table th {
            padding: 15px 10px;
            color: #0F7C9D;
        }

        .teacher-table td {
            padding: 15px 0px;
        }

        .teacher-table tr:hover {
            padding: 5px;
            border-radius: 20px;
            background-color: #f1f1f1;
        }

        .profile-info {
            /*background: #FFFFFF;*/
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            background-color: white;
            padding: 20px 20px 50px 20px;
        }

        #btn-edit {
            background-color: #0F7C9D;
            padding: 5px 10px;
            margin-right: 13px;
            border-color: white;
            border-radius: 10px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
            color: white;
            font-weight: 300;
        }

        .data-input {
            width: 300px;
            padding: 5px;
            margin: 0 0 10px 0;
        }

        .data-choose {
            width: 100px;
            padding: 5px;
            margin: 0 0 10px 0;
        }


        .button-form-control {
            font-size: 13px;
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
            background-color: #0F7C9D;
        }

        .utiliy-section {
            margin: 0 0 0 100px;
        }

        /* --------------- modal style-------------------- */
        .modal-title {
            text-align: center;
            color: #0F7C9D;
        }

        .modal-textbox {
            padding: 3px 20px;
            font-size: 18px;
            /* margin: 0 0 10px 0; */
            border-radius: 10px;
            background-color: #f1f1f1;
        }

        .button-form-control {
            font-size: 15px;
            padding: 6px 10px;
            border-color: white;
            border-radius: 10px;
            color: white;
            font-weight: 300;
        }

        #btn-modal-sumit {
            background-color: #0F7C9D;
        }

        #btn-modal-cancel {
            background-color: #BD2000;
        }

    </style>
</head>

<body>
<div class="d-flex ">

    <!-- ---------------------------navbar--------------------------- -->
    <div th:replace="~{fragments/MyNavbar :: menu}">
    </div>
    <!-- -----------------------------------------------body------------------------------------------------------- -->
    <div class="main-section ">
        <div class="container">
            <!-- ------------------------------------Sub navbar  ------------------------ -->
            <div th:replace="~{fragments/MyNavbar :: navProfile}"></div>

            <!--  ---------------------------------------main body--------------------------------------------------->

            <h1 class="animate__animated animate__bounceInDown" style="font-weight: 600">Profile</h1>
            <!--             +++++++++++++++++++++ Main Code here ++++++++++++++++++++++++++++++  -->
            <div class="d-flex pt-4">
                <!-- --------------------------Profile information frame---------------------- -->
                <div>
                    <div class="profile-info animate__animated animate__backInLeft">
                        <div class="d-flex justify-content-end">
                            <button id="btn-edit" onclick="editInformationAdmin()">Edit Info</button>
                        </div>
                        <div class="d-flex mt-3">
                            <!-- ----------photo---------- -->
                            <div>
                                <div style="width: 200px; ">
                                    <label for="file" style="cursor: pointer;">
                                        <img id="output"
                                             class="rounded"
                                             th:src="${Admin.getProfileImg()==null || Admin.getProfileImg()=='default.png'
                                     || Admin.getProfileImg()==''}
                                     ? '/images/teacher.png' : ${Admin.getProfileImg()} "
                                             alt="photo" width="100%">
                                    </label>
                                    <input type="file" accept="image/*" name="file" id="file"
                                           onchange="loadFile(event)" style="display: none;" >
                                </div>
                            </div>
                            <!-- --------------------------form area------------------------------- -->
                            <div style=" width: 500px;" class="pt-3">
                                <form onsubmit=" return adminValidate(event)"
                                      th:action="@{/profile/{id}/edit(id=${Admin.getId()})}" method="post"
                                      class="row g-3">
                                    <!-- ----------- fullname--------- -->
                                    <div class="d-flex align-items-center ms-5 my-0">
                                        <div style="width: 90px;">
                                            <label for="fullName" class="form-label ">Full name</label>
                                        </div>
                                        <div class="ms-5">
                                            <input type="text"
                                                   class="form-control data-input"
                                                   id="fullName"
                                                   name="fullName"
                                                   th:value="${Admin.getFullName()}" required>
                                            <small id="fullName-msg" style="color:#BD2000; display: none">invalid
                                                input</small>
                                        </div>
                                    </div>
                                    <!--  ------------ username--------- -->
                                    <div class="d-flex align-items-center ms-5 my-0">
                                        <div style="width: 90px;">
                                            <label for="username" class="form-label ">Username</label>
                                        </div>
                                        <div class="ms-5">
                                            <input type="text"
                                                   class="form-control data-input"
                                                   id="username"
                                                   name="username"
                                                   th:value="${Admin.getUsername()}"
                                                   required
                                            >
                                            <small id="username-msg" style="color:#BD2000; display: none">invalid
                                                input</small>
                                        </div>
                                    </div>
                                    <!-- -------------------email-------------- -->
                                    <div class="d-flex align-items-center ms-5 my-0">
                                        <div style="width: 90px;">
                                            <label for="email" class="form-label ">Email</label>
                                        </div>
                                        <div class="ms-5">
                                            <input type="email" class="form-control data-input"
                                                   id="email"
                                                   name="email"
                                                   th:value="${Admin.getEmail()}"
                                                   required
                                            >
                                            <small id="email-msg" style="color:#BD2000; display: none">invalid
                                                input</small>
                                        </div>
                                    </div>
                                    <!-- ------------------ gender------------------->
                                    <div class="d-flex align-items-center ms-5 my-0">
                                        <div style="width: 90px;">
                                            <label for="gender" class="form-label ">Gender</label>
                                        </div>
                                        <div class="ms-5">
                                            <select class="form-select data-choose"
                                                    id="gender"
                                                    name="gender"
                                            >
                                                <option
                                                        th:selected="${Admin.getGender()}=='Male'"
                                                        th:value="Male">Male
                                                </option>
                                                <option
                                                        th:selected="${Admin.getGender()}=='Female'"
                                                        th:value="Female">Female
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- ------------------ profile url------------------->
                                    <div class="ms-5">
                                        <input
                                                type="hidden"
                                                class="form-control data-input"
                                                id="profileImg"
                                                name="profileImg"
                                                th:value="${Admin.getProfileImg()}"
                                        >
                                    </div>
                                    <!-- ------- button -------------->
                                    <div class="d-flex align-items-center ms-5 mt-4">
                                        <div style="width: 140px;">
                                            <button type="submit"
                                                    class="button-form-control"
                                                    id="btn-save-change"

                                            >Save Change
                                            </button>
                                        </div>
                                        <div class="">
                                            <button class="table-button button-form-control"
                                                    id="btn-change-password"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#myModalRemove"
                                                    th:attrappend="data-bs-target=${Admin.getId()}"
                                            >Change Password
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -------------------- utility section----------------- -->
                <div class="utiliy-section ">
                    <div th:replace="~{fragments/Utility :: dateAndTime}"></div>
                </div>
            </div>

        </div>
        <!--            --------------------------------------------------------------------------------------------------------------->
    </div>
</div>

<div class="modal fade " id="myModalRemove" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
     th:attrappend="id=${Admin.getId()}">
    <div style="max-width: 550px; " class=" modal-dialog modal-dialog-centered ">
        <div style="border-radius: 20px !important;" class=" modal-content py-4">
            <div class="modal-title mt-3">
                <h3 style="font-weight: 600;">Change Password</h3>
            </div>
            <!-- ---------------- information ----------------------- -->
            <div style="width: 70%; margin: auto">
                <form onsubmit="return validatePasswordForm();"
                      th:action="@{/profile/{id}/changePassword(id=${Admin.getId()})}" method="post">
                    <div class="my-4 ">
                        <div class="my-3">
                            <input type="password"
                                   name="password"
                                   class="form-control modal-textbox"
                                   id="modal-current-password"
                                   placeholder="Input current password"
                            >
                            <small id="password-msg" style="color:#BD2000; display: none"></small>
                        </div>
                        <div class="my-3">
                            <input type="password"
                                   class="form-control modal-textbox"
                                   name="newPassword"
                                   id="modal-new-password"
                                   placeholder="Input new password"
                            >
                            <small id="confirm-msg" style="color:#BD2000; display: none"></small>
                        </div>
                    </div>
                    <div class="my-3 ">
                        <button type="submit" class="button-form-control me-1"
                                id="btn-modal-sumit">Submit
                        </button>
                        <button class="button-form-control" id="btn-modal-cancel"
                                data-bs-dismiss="modal">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script th:inline="javascript">

    let hasErrorChangePassword = [[${errorChangePassword}]]
    let fullName = document.getElementById("fullName");
    let username = document.getElementById("username");
    let email = document.getElementById("email");
    let gender = document.getElementById("gender");
    let btnEdit = document.getElementById("btn-edit");
    let btnSaveChange = document.getElementById("btn-save-change");
    let btnChangePassword = document.getElementById("btn-change-password");
    let btnModalCancel = document.getElementById("btn-modal-cancel");
    let profileImg = document.getElementById("profileImg");
    let inputFile = document.getElementById('file');

    if (!alertify.errorAlert) {
        //define a new errorAlert base on alert
        alertify.dialog('errorAlert', function factory() {
            return {
                build: function () {
                    var errorHeader = '<span class="fa fa-times-circle fa-2x" '
                        + 'style="vertical-align:middle;color:#e10000;">'
                        + '</span>  Password can not change!';
                    this.setHeader(errorHeader);
                }
            };
        }, true, 'alert');
    }


    //----------- Initialize style for input --------------------
    fullName.style.backgroundColor = "#ffff";
    username.style.backgroundColor = "#ffff";
    email.style.backgroundColor = "#ffff";
    gender.style.backgroundColor = "#ffff";

    fullName.style.border = "none";
    username.style.border = "none";
    email.style.border = "none";
    gender.style.border = "none";

    fullName.setAttribute("readOnly", "true");
    username.setAttribute("readOnly", "true");
    email.setAttribute("readOnly", "true");
    gender.setAttribute("disabled", "disabled");
    inputFile.setAttribute("disabled", "disabled");
    // --------------------------Validate Form-------------------->
    const latterOnlyPattern = /^[a-zA-Z ]*$/;
    const noSpacePattern = /^[^\s^\.^\s]+$/;
    const noSpecialCharacter = /^[A-Za-z0-9 ]+$/;
    const validEmail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

    //  --------------- button ---------------------
    btnSaveChange.setAttribute("disabled", "disabled");
    btnSaveChange.style.backgroundColor = "#6fb0c4"

    function validatePasswordForm() {
        let confirm = document.getElementById("modal-new-password");
        let currenPassword = document.getElementById("modal-current-password");

        if (currenPassword.value === "") {
            document.getElementById("password-msg").style.display = "block";
            document.getElementById("password-msg").innerHTML = "* password field can not be empty";
            return false;
        } else {
            document.getElementById("password-msg").style.display = "none";
        }

        if (currenPassword.value.length < 6) {
            document.getElementById("password-msg").style.display = "block";
            document.getElementById("password-msg").innerHTML = "* Password length must be at least 6 characters";
            return false;
        } else {
            document.getElementById("password-msg").style.display = "none";
        }

        if (confirm.value === "") {
            document.getElementById("confirm-msg").style.display = "block";
            document.getElementById("confirm-msg").innerHTML = "* new password field can not be empty";
            return false;
        } else {
            document.getElementById("confirm-msg").style.display = "none";
        }

        if (confirm.value.length < 6) {
            document.getElementById("confirm-msg").style.display = "block";
            document.getElementById("confirm-msg").innerHTML = "* new password length must be at least 6 characters";
            return false;
        } else {
            document.getElementById("confirm-msg").style.display = "none";
        }

        if (currenPassword.value === confirm.value) {
            document.getElementById("confirm-msg").style.display = "block";
            document.getElementById("confirm-msg").innerHTML = "* can not change the same password";
            return false;
        } else {
            document.getElementById("confirm-msg").style.display = "none";
        }

        return true;
    }

     function adminValidate(even) {

        upload();

        if (fullName.value === "") {
            document.getElementById("fullName-msg").style.display = "block";
            document.getElementById("fullName-msg").innerHTML = "* Fullname can not be empty";
            return false;
        } else {
            document.getElementById("fullName-msg").style.display = "none";
        }
        if (!isNaN(fullName.value)) {
            document.getElementById("fullName-msg").style.display = "block";
            document.getElementById("fullName-msg").innerHTML = "* Fullname can not be number";
            return false;
        } else {
            document.getElementById("fullName-msg").style.display = "none";
        }
        if (!latterOnlyPattern.test(fullName.value)) {
            document.getElementById("fullName-msg").style.display = "block";
            document.getElementById("fullName-msg").innerHTML = "* can not contain number or special characters";
            return false;
        } else {
            document.getElementById("fullName-msg").style.display = "none";
        }
        //------------ username---------------
        if (username.value === "") {
            document.getElementById("username-msg").style.display = "block";
            document.getElementById("username-msg").innerHTML = "* username can not be empty";
            return false;
        } else {
            document.getElementById("username-msg").style.display = "none";
        }
        if (!noSpacePattern.test(username.value)) {
            document.getElementById("username-msg").style.display = "block";
            document.getElementById("username-msg").innerHTML = "* username can not contain whitespace";
            return false;
        } else {
            document.getElementById("username-msg").style.display = "none";
        }
        if (!noSpecialCharacter.test(username.value)) {
            document.getElementById("username-msg").style.display = "block";
            document.getElementById("username-msg").innerHTML = "* username can not contain special character";
            return false;
        } else {
            document.getElementById("username-msg").style.display = "none";
        }
        if (!isNaN(username.value)) {
            document.getElementById("username-msg").style.display = "block";
            document.getElementById("username-msg").innerHTML = "* username can not be number";
            return false;
        } else {
            document.getElementById("username-msg").style.display = "none";
        }
        //---------------email ----------------------------
        if (email.value === "") {
            document.getElementById("email-msg").style.display = "block";
            document.getElementById("email-msg").innerHTML = "* email can not be empty";
            return false;
        } else {
            document.getElementById("email-msg").style.display = "none";
        }
        if (!validEmail.test(email.value)) {
            document.getElementById("email-msg").style.display = "block";
            document.getElementById("email-msg").innerHTML = "* invalid email";
            return false;
        } else {

            return true;
        }
    }

    function editInformationAdmin() {
        btnSaveChange.removeAttribute("disabled");
        btnSaveChange.style.backgroundColor = "#0F7C9D"

        fullName.style.border = "1px solid #ACACAC";
        username.style.border = "1px solid #ACACAC";
        email.style.border = "1px solid #ACACAC";
        gender.style.border = "1px solid #ACACAC";

        fullName.removeAttribute("readOnly");
        username.removeAttribute("readOnly");
        email.removeAttribute("readOnly");
        gender.removeAttribute("disabled");
        inputFile.removeAttribute("disabled", "disabled");

        btnChangePassword.setAttribute("disabled", "disabled");
        btnChangePassword.style.backgroundColor = "#6fb0c4";
    }

    btnChangePassword.onclick = (e) => {
        e.preventDefault();
    }
    btnModalCancel.onclick = (e) => {
        e.preventDefault();
    }

    // console.log(hasErrorChangePassword);
    if (hasErrorChangePassword === 3) {
        console.log(hasErrorChangePassword)
        alertify.errorAlert("You input current password is incorrect <br/>" +
            "Please try again! ");
    } else if (hasErrorChangePassword === 2) {
        console.log(hasErrorChangePassword)
        alertify.set('notifier', 'position', 'button-right');
        alertify.success('Password changed successfully');
    }



    var image = document.getElementById('output');
    var files;
    var formData = new FormData();
    // ------------ for upload file by click on label ---------------------
    var loadFile = function (event) {
        image.src = URL.createObjectURL(event.target.files[0]);

        files = event.target.files;
        formData.append('file', files[0])

    };
    // --------------------------------------------------------------------

     function upload() {
        fetch('http://35.240.226.150:1406/api/v1/file/uploadFile',
            {
                method: 'POST',
                body: formData

            }).then(response => response.json())
            .then(data => {
                // console.log(data.payload.fileURL)
                profileUrl = data.payload.fileURL;
                // console.log(JSON.stringify(profileUrl))

                profileImg.setAttribute('value', data.payload.fileURL);
                // .setAttribute('value',data.payload.fileURL);
            })
            .catch(error => {
                console.log("Error : ", error)
            })
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!--====================== Date and Time ============================ -->
<!-- -----------calendar-------------- -->
<script type="text/javascript" th:src="@{/js/caleandar.js}"></script>
<script type="text/javascript" th:src="@{/js/demo_calendar.js}"></script>
<!---------------time-------------------->
<script type="text/javascript" th:src="@{/js/my-time.js}"></script>
</body>

</html>