<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Class</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--    ++++++++++++++++++++ My Style -+++++++++++++++++++++++-->
    <link rel="stylesheet" th:href="@{/css/navbar-style.css}">
    <!--    ++++++++++++++++++++++++++ Date and time +++++++++++++++++++-->
    <link rel="stylesheet" th:href="@{/css/demo_calendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/theme1.css}"/>
    <link rel="stylesheet" th:href="@{/css/my-time.css}"/>
    <style>


        .utility-section {
            margin: 60px 0 0 100px;
        }

        .class-box {
            width: 280px;
            height: 170px;
            border-radius: 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 20px;
            font-size: 1.5rem;
            color: white;
            margin: 0 0 20px 0;
        }

        .class-box p {
            font-size: 20px;
            margin: 0;
        }

        .class-box-color {
            background: linear-gradient(226.94deg, rgba(208, 206, 255, 0.53) 0%, #6E57BC 100%);
        }

        .disable-underline a {
            text-decoration: none;
        }

        .button-add {
            padding: 6px 15px;
            border: none;
            border-radius: 30px;
            background-color: #0F7C9D;
            color: white;
            font-weight: 300;
            margin-bottom: 10px;
        }

        .class-option-button i {
            color: white;
        }

        /* ---------------- generation modal style-----------------------   */
        .modal-title {
            text-align: center;
            color: #0F7C9D;
        }

        .modal-input-class {
            width: 200px;
            padding: 3px 10px;
            font-size: 1.2rem;
            border: 1px solid #ACACAC;
            border-radius: 10px;
        }

        .modal-select-class {
            width: 180px;
            padding: 3px 10px;
            font-size: 1.2rem;
            border: 1px solid #ACACAC;
            border-radius: 10px;
        }

        .modal-label-class {
            color: black;
            padding: 3px 0;
            font-size: 1.2rem;
            font-weight: 600;
        }

        .btn-modal-class {
            font-size: 15px;
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            color: white;
            font-weight: 300;
        }

        .btn-reject-color {
            background-color: #BD2000;
        }
        .btn-accept-color:hover {
            color: white;
        }
        .btn-accept-color {
            background-color: #0F7C9D;
            text-decoration: none;
            color: white;
        }

        #modal-remove-class {
            color: black;
        }
        /*    pagination style   */
        .paging-style {
            min-height: 30px;
            min-width: 30px;
            text-align: center;
            padding-top: 3px;
            text-decoration: none;
        }

        .paging-number-style {
            margin: 0 10px;
            background-color: white;
            border: solid 1px #6E57BC;
            border-radius: 50%;
            color: #6E57BC;
        }

        .paging-number-style:hover {
            background: linear-gradient(226.94deg, rgba(208, 206, 255, 0.53) 0%, #6E57BC 100%);
            color: white;
        }

        .current-paging-number-style {
            background-color: #6E57BC;
            color: white;
            border-radius: 50%;
        }

        .paging-text-style {
            margin: 0 5px;
            padding-left: 10px;
            padding-right: 10px;
            background: linear-gradient(226.94deg, rgba(208, 206, 255, 0.53) 0%, #6E57BC 100%);
            border-radius: 10%;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
            color: white;
        }

        .paging-text-style:hover {
            background-color: white;
            border: solid 1px #6E57BC;
            color: #6E57BC;
        }
    </style>
</head>

<body>
<div class="d-flex ">

    <!-- ---------------------------navbar--------------------------- -->
    <div th:replace="~{fragments/MyNavbar :: menu}">
    </div>
    <!-- -----------------------------------------------body------------------------------------------------------- -->
    <div class="main-section ">
        <div class="container">
            <!-- ------------------------------------Sub navbar  ------------------------ -->
            <div th:replace="~{fragments/MyNavbar :: navProfile}"></div>
        </div>
        <!-- ---------------------------------------- Main task-------------------------- -->
        <div class="ms-5 ps-5">
            <h1 class="animate__animated animate__fadeIn" style="font-weight: 600">Class Management</h1>
            <div class="d-flex">
                <div>
                    <!-- ------------- add class------------- -->
                    <div style="text-align: right; margin-right: 16px"
                         class="animate__animated animate__flipInX animate__delay-1s">
                        <button class="button-add"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-input-class"

                        ><i class="fas fa-plus"></i>Add class
                        </button>
                    </div>
                    <!-- -------------- Show class ----------- -->
                    <div style="width: 940px;">
                        <!---------------------Group of Box-------------------------------------  -->
                        <div class="d-flex flex-wrap ">
                            <!-- -------------------- box------------------ -->
                            <div th:each="classroom, i : ${Classrooms} "
                                 class="class-box class-box-color d-flex flex-column justify-content-between m-3
                                    ">

                                <!--  ==========================modal===================================================-->
                                <!-- -------------modal edit-------------------- -->
                                <div class="modal fade " th:id="'modal-edit'+${i.index}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true"
                                >
                                    <div style="max-width: 600px; " class=" modal-dialog modal-dialog-centered ">
                                        <div style="border-radius: 20px !important;" class=" modal-content py-4">
                                            <div class="w-75 m-auto">
                                                <!-- ----------- Title ---------->
                                                <div style="text-align: center" class="modal-title my-2">
                                                    <h2 style="font-weight: 600; color: #0F7C9D">Edit Classroom</h2>
                                                </div>
                                                <!-- ---------- Information------------>
                                                <form th:action="@{/dashboard/classroom/{id}/edit(id=${classroom.getId()})}"
                                                      method="post">
                                                    <!-- -------------input --------------->
                                                    <div class="d-flex justify-content-between pt-2 px-5">
                                                        <!--  ---------label--------->
                                                        <div>
                                                            <div><label class="modal-label-class my-1"
                                                                        for="modal-add-classroom">Class Name: </label>
                                                            </div>
                                                        </div>
                                                        <!-- -------- input---------->
                                                        <div>
                                                            <div>
                                                                <input class=" modal-input-class my-1"
                                                                       type="text"
                                                                       id="modal-edit-classroom"
                                                                       th:value="${classroom.getClassName()}"
                                                                       name="className"
                                                                       required
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-------------- button------------->
                                                    <div class="px-5 mt-4">
                                                        <button type="submit"
                                                                class="btn-modal-class btn-accept-color me-3 ">Edit
                                                        </button>
                                                        <button class="btn-modal-class btn-reject-color cancel-edit-class"
                                                                data-bs-dismiss="modal"
                                                        >Cancel
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- -------------modal remove-------------------- -->
                                <div class="modal fade " th:id="'modal-remove'+${i.index}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true"
                                >
                                    <div style="max-width: 600px; " class=" modal-dialog modal-dialog-centered ">
                                        <div style="border-radius: 20px !important;" class=" modal-content py-4">
                                            <div class="w-75 m-auto">
                                                <!-- ----------- Title ---------->
                                                <div style="text-align: center" class="modal-title my-2">
                                                    <h2 style="font-weight: 600; color: #0F7C9D">Remove Classroom</h2>
                                                    <h5>Are you sure you want to remove?</h5>
                                                </div>
                                                <!-- ---------- Information------------>
                                                <!-- -------------input --------------->
                                                <div class="d-flex justify-content-between pt-2 px-5">
                                                    <!--  ---------label--------->
                                                    <div>
                                                        <div><label class="modal-label-class my-1"
                                                                    for="modal-remove-classroom">Class Name: </label>
                                                        </div>
                                                    </div>
                                                    <!-- -------- input---------->
                                                    <div>
                                                        <div>
                                                            <input class=" modal-input-class my-1"
                                                                   type="text"
                                                                   id="modal-remove-classroom"
                                                                   name="className"
                                                                   th:value="${classroom.getClassName()}"
                                                                   required
                                                                   disabled
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-------------- button------------->
                                                <div class="px-5 mt-4">
                                                    <a class="btn-modal-class btn-accept-color me-3"
                                                       th:href="@{/dashboard/classroom/{id}/delete(id=${classroom.getId()})}">
                                                        remove
                                                    </a>
                                                    <button class="btn-modal-class btn-reject-color"
                                                            data-bs-dismiss="modal"
                                                            id="btn-cancel-remove"
                                                    >Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  ==================================================================================-->

                                <!-- ----- content in box ------->
                                <div class="d-flex justify-content-between">
                                    <p>Class</p>
                                    <!-- ----------option button----------- -->
                                    <div class="class-option-button ">
                                        <div class="dropdown ">
                                            <button class="btn " type="button" id="dropdownMenu2"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="dropdown-menu animate__animated animate__flipInX animate__faster"
                                                aria-labelledby="dropdownMenu2">
                                                <li>
                                                    <button class="dropdown-item"
                                                            data-bs-toggle="modal"
                                                            th:attr="data-bs-target='#modal-edit'+${i.index}"
                                                    >edit
                                                    </button>
                                                </li>
                                                <li>
                                                    <button id="btn-remove-gen-achieved" class="dropdown-item"
                                                            data-bs-toggle="modal"
                                                            th:attr="data-bs-target='#modal-remove'+${i.index}"
                                                    >remove
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="align-self-center">
                                    <h3 id="show-class-name" th:text="${classroom.getClassName()}"></h3>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p></p>
                                    </div>
                                    <!--  ----- icon class in box-->
                                    <i class="fas fa-building"></i>
                                </div>
                            </div>
                        </div>

                        <!--  ----------Pagination ---------------->
                        <div class="py-3" th:if="${paging.totalPages}>0">
                            <!--  show pagination number -->
                            <div class="d-flex justify-content-center align-item-center">
                                <!--   first-->
                                <a class="paging-style paging-text-style"
                                   th:href="@{${#httpServletRequest.requestURI}(page=1)}">First</a>
                                <!--  previous-->
                                <a class="paging-style paging-text-style"
                                   th:href="@{${#httpServletRequest.requestURI}(page=${paging.previousPage})}">Previous</a>
                                <a th:each="i: ${#numbers.sequence(paging.startPage, paging.endPage)}"
                                   class="paging-style paging-number-style num-page"
                                   th:href="@{${#httpServletRequest.requestURI}(page=${i})}" th:text="${i}"
                                ></a>
                                <!--   Next-->
                                <a class="paging-style paging-text-style "
                                   th:href="@{${#httpServletRequest.requestURI}(page=${paging.nextPage})}">Next</a>
                                <!--  Last-->
                                <a class="paging-style paging-text-style"
                                   th:href="@{${#httpServletRequest.requestURI}(page=${paging.totalPages})}">Last</a>
                            </div>
                        </div>
                        <!--  end pagination-->
                    </div>

                </div>
                <!-- utility--------------------------------- -->
                <div class="utility-section">
                    <div th:replace="~{fragments/Utility :: dateAndTime}"></div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- -------------modal add-------------------- -->
<div class="modal fade " id="modal-input-class" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
>
    <div style="max-width: 600px; " class=" modal-dialog modal-dialog-centered ">
        <div style="border-radius: 20px !important;" class=" modal-content py-4">
            <div class="w-75 m-auto">
                <!-- ----------- Title ---------->
                <div style="text-align: center" class="modal-title my-2">
                    <h2 style="font-weight: 600; color: #0F7C9D">Add New Classroom</h2>
                </div>
                <!-- ---------- Information------------>
                <form th:action="@{/dashboard/classroom/add}" method="post">
                    <!-- -------------input --------------->
                    <div class="d-flex justify-content-between pt-2 px-5">
                        <!--  ---------label--------->
                        <div>
                            <div><label class="modal-label-class my-1" for="modal-add-classroom">Class Name: </label>
                            </div>
                        </div>
                        <!-- -------- input---------->
                        <div>
                            <div>
                                <input class=" modal-input-class my-1"
                                       type="text"
                                       id="modal-add-classroom"
                                       name="className"
                                       required
                                >
                            </div>
                        </div>
                    </div>
                    <!-------------- button------------->
                    <div class="px-5 mt-4">
                        <button type="submit" class="btn-modal-class btn-accept-color me-3">Add</button>
                        <button class="btn-modal-class btn-reject-color"
                                data-bs-dismiss="modal"
                                id="btn-cancel-add"
                        >Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">

    let btnCancelAdd = document.getElementById("btn-cancel-add");
    let btnCancelRemove = document.getElementById("btn-cancel-remove");
    let btnCancelEdit = document.getElementsByClassName("cancel-edit-class");


    for (let i = 0; i < btnCancelEdit.length; i++) {
        btnCancelEdit[i].addEventListener("click", function (event) {
            event.preventDefault();
        }, false);
    }
    btnCancelAdd.onclick = (e) => {
        e.preventDefault();
    }

    btnCancelRemove.onclick = (e) => {
        e.preventDefault();
    }

    //  --------------- pagination custom---------------------->
    let numPage = document.getElementsByClassName("num-page");
    let j;
    let param = [[${param.page}]][0].toString();
    // console.log(numPage[0].id);
    console.log("param: ",param)

    for(j=0; j<numPage.length; j++){
        if((numPage[j].innerHTML)===(param)){
            // console.log("true")
            numPage[j].classList.add("current-paging-number-style");
            // console.log(numPage[i])
        }
        else {
            // console.log("false")
            // numPage[j].classList.add("paging-number-style");
            // console.log(numPage[j])
        }
    }
    //  --------------- end pagination custom---------------------->
</script>
<!-- -----------calendar-------------- -->
<script type="text/javascript" th:src="@{/js/caleandar.js}"></script>
<script type="text/javascript" th:src="@{/js/demo_calendar.js}"></script>
<!---------------time-------------------->
<script type="text/javascript" th:src="@{/js/my-time.js}"></script>
<script th:inline="javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>

</html>