<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!--    ++++++++++++++++++++ Calendar library-+++++++++++++++++++++++-->
    <link rel="stylesheet" th:href="@{/css/demo_calendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/theme1.css}"/>
    <link rel="stylesheet" th:href="@{/css/my-time.css}"/>
    <!--    ++++++++++++++++++++ My Style -+++++++++++++++++++++++-->
    <link rel="stylesheet" th:href="@{/css/navbar-style.css}">
    <!--    +++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <style>

        .box-style {
            width: 280px;
            height: 230px;
            border-radius: 20px;
            padding: 20px;
            font-size: 1.5rem;
            color: white;

        }

        .box-style p {
            margin: 0;

        }

        .student-color {
            background: linear-gradient(226.94deg, rgba(206, 255, 246, 0.53) 0%, #65BC57 100%);;
        }

        .teacher-color {
            background: linear-gradient(226.94deg, rgba(206, 240, 255, 0.53) 0%, #57AABC 100%);
        }

        .class-color {
            background: linear-gradient(226.94deg, rgba(208, 206, 255, 0.53) 0%, #6E57BC 100%);
        }

        .generation-color {
            background: linear-gradient(226.94deg, rgba(255, 206, 235, 0.53) 0%, #BC5775 100%);
        }

        .box-icon i {
            font-size: 5rem;
            opacity: 0.6;
        }

        .disable-underline a {
            text-decoration: none;
        }
    </style>
</head>

<body>
<div class="d-flex ">

    <!-- ---------------------------navbar--------------------------- -->
    <div th:replace="~{fragments/MyNavbar :: menu}">
    </div>

    <!-- -----------------------------------------------body------------------------------------------------------- -->
    <div class="main-section ">
        <div class="container">
            <!-- ------------------------------------Sub navbar  ------------------------ -->
            <div th:replace="~{fragments/MyNavbar :: navProfile}"></div>


            <h1 style="font-weight: 600" class="animate__animated animate__bounceInDown mb-3" th:text="${Admin.getFullName()}"></h1>
<!--            <p class="animate__animated animate__headShake">01 August 2021</p>-->

            <h1 style="font-weight: 600" class="animate__animated animate__bounceInDown" th:text="${Admin.getFullName()}"></h1>
            <p id="dashboard-date" class="animate__animated animate__headShake"></p>


            <div class="d-flex pt-2">
                <div style="max-width: 1600px" class="d-flex flex-wrap">
                        <div class="disable-underline m-4 ms-0 mt-0">
                            <a id="student-box" th:href="@{/dashboard/student}">
                                <div class="box-style student-color d-flex flex-column justify-content-between
                                     " >
                                    <!-- ----------------- Student Management------------------ -->
                                    <p>Student</p>
                                    <div class="box-icon align-self-center">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p>Total</p>
                                        <p th:text="${totalStudents}"></p>
                                    </div>
                                    <!-- --------------------------------------- -->
                                </div>
                            </a>
                        </div>
                        <div class="disable-underline m-4 ms-0 mt-0">
                            <a id="teacher-box" th:href="@{/dashboard/teacher/management}">
                                <div class="box-style teacher-color d-flex flex-column justify-content-between
                                            " >
                                    <!-- ------------------ Teacher Management----------------- -->
                                    <p>Teacher</p>
                                    <div class="box-icon align-self-center">
                                        <i class="fas fa-chalkboard-teacher"></i>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p>Total</p>
                                        <p th:text="${totalTeacher}"></p>
                                    </div>
                                    <!-- --------------------------------------- -->
                                </div>
                            </a>
                        </div>
                        <div class="disable-underline m-4 ms-0 mt-0">
                            <a id="class-box" th:href="@{/dashboard/classroom/management}">
                                <div class="box-style class-color d-flex flex-column justify-content-between
                                            " >
                                    <!-- ------------------Class Management----------------- -->
                                    <p>Class</p>
                                    <div class="box-icon align-self-center"><i class="fas fa-users"></i></div>
                                    <div class="d-flex justify-content-between">
                                        <p>Total</p>
                                        <p th:text="${totalClass}"></p>
                                    </div>
                                    <!-- --------------------------------------- -->
                                </div>
                            </a>
                        </div>
                        <div class="disable-underline m-4 ms-0 mt-0">
                            <a id="generation-box" th:href="@{/dashboard/generation}">
                                <div class="box-style generation-color d-flex flex-column justify-content-between
                                            " >
                                    <!-- ------------------Generation Management----------------- -->
                                    <p>Generation</p>
                                    <div class="box-icon align-self-center"><i class="fas fa-users"></i></div>
                                    <div class="d-flex justify-content-between">
                                        <p>Total</p>
                                        <p th:text="${totalGeneration}"></p>
                                    </div>
                                    <!-- --------------------------------------- -->
                                </div>
                            </a>
                        </div>
                </div>
                <!--                    --------------- clock and calender---------------->
                <div class="ms-5">
                    <div th:replace="~{fragments/Utility :: dateAndTime}"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    let studentAnimate = document.getElementById('student-box');
    let teacherAnimate = document.getElementById('teacher-box');
    let classAnimate = document.getElementById('class-box');
    let generationAnimate = document.getElementById('generation-box');
    // const teacherAnimate = document.querySelector('.teacher-color');
    // const classAnimate = document.querySelector('.class-color');
    // const generationAnimate = document.querySelector('.generation-color');
    // studentAnimate.style.display="none";

    teacherAnimate.style.display = "none";
    classAnimate.style.display = "none";
    generationAnimate.style.display = "none";
    // element.style.setProperty('--animate-duration', '0.5s');
    studentAnimateFun();
    function studentAnimateFun(){
        studentAnimate.classList.add('animate__animated', 'animate__bounceInLeft','animate__fast');
    }
    function teacherAnimateFun(){
        teacherAnimate.style.display = "block";
        teacherAnimate.classList.add('animate__animated', 'animate__bounceInLeft','animate__fast');
    }
    function classAnimateFun(){
        classAnimate.style.display = "block";
        classAnimate.classList.add('animate__animated', 'animate__bounceInLeft','animate__fast');
    }
    function generationAnimateFun(){
        generationAnimate.style.display = "block";
        generationAnimate.classList.add('animate__animated', 'animate__bounceInLeft','animate__faster');
    }
    //------------ step by step ------------------------
    studentAnimate.addEventListener('animationend', () => {
        teacherAnimateFun();
    });
    teacherAnimate.addEventListener('animationend', () => {
        classAnimateFun();
    });
    classAnimate.addEventListener('animationend', () => {
        generationAnimateFun();
    });

</script>
<!-- -----------calendar-------------- -->
<script type="text/javascript" th:src="@{/js/caleandar.js}"></script>
<script type="text/javascript" th:src="@{/js/demo_calendar.js}"></script>
<script type="text/javascript" th:src="@{/js/time-homepage.js}"></script>
<!---------------time-------------------->
<script type="text/javascript" th:src="@{/js/my-time.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>