<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Generation</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--    ++++++++++++++++++++ My Style -+++++++++++++++++++++++-->
    <link rel="stylesheet" th:href="@{/css/navbar-style.css}">
    <!--    ++++++++++++++++++++++++++ Date and time +++++++++++++++++++-->
    <link rel="stylesheet" th:href="@{/css/demo_calendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/theme1.css}"/>
    <link rel="stylesheet" th:href="@{/css/my-time.css}"/>
    <style>


        .utility-section {
            margin: 60px 0 0 100px;
        }

        .gen-box {
            width: 280px;
            height: 170px;
            border-radius: 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 20px;
            font-size: 1.5rem;
            color: white;
        }

        .gen-box p {
            font-size: 20px;
            margin: 0;
        }

        .gen-box-color {
            background: linear-gradient(226.94deg, rgba(206, 240, 255, 0.53) 0%, #57AABC 100%);
        }

        .gen-box-color2 {
            background: linear-gradient(226.94deg, rgba(255, 206, 235, 0.53) 0%, #BC5775 100%);
        }

        .disable-underline a {
            text-decoration: none;
        }

        .button-add {
            padding: 6px 15px;
            border: none;
            border-radius: 30px;
            background-color: #0F7C9D;
            color: white;
            font-weight: 300;
            margin-bottom: 10px;
        }

        .gen-option-button i {
            color: white;
        }

        /* ---------------- generation modal style-----------------------   */
        .modal-input-gen {
            width: 80px;
            padding: 3px 10px;
            font-size: 1.2rem;
            border: 1px solid #ACACAC;
            border-radius: 10px;
        }

        .modal-select-gen {
            width: 180px;
            padding: 3px 10px;
            font-size: 1.2rem;
            border: 1px solid #ACACAC;
            border-radius: 10px;
        }

        .modal-label-gen {
            padding: 3px 0;
            font-size: 1.2rem;
        }

        .btn-modal-gen {
            font-size: 15px;
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
            color: white;
            font-weight: 300;
        }

        .btn-reject-color {
            background-color: #BD2000;
        }

        .btn-accept-color {
            background-color: #0F7C9D;
        }

        #modal-remove-generation {
            background-color: #E2E2E2;
            color: black;
        }

        #modal-remove-gen-type {
            background-color: #E2E2E2;
            color: black;
        }

        #modal-remove-gen-status {
            background-color: #E2E2E2;
            color: black;
        }
        /*    pagination style   */
        .paging-style {
            min-height: 30px;
            min-width: 30px;
            text-align: center;
            padding-top: 3px;
            text-decoration: none;
        }

        .paging-number-style {
            margin: 0 10px;
            background-color: white;
            border: solid 1px  #57AABC;
            border-radius: 50%;
            color: #57AABC;
        }

        .paging-number-style:hover {
            background: linear-gradient(226.94deg, rgba(206, 240, 255, 0.53) 0%, #57AABC 100%);
            color: white;
        }

        .current-paging-number-style {
            background: linear-gradient(226.94deg, rgba(206, 240, 255, 0.53) 0%, #57AABC 100%);
            color: white;
            border-radius: 50%;
        }

        .paging-text-style {
            margin: 0 5px;
            padding-left: 10px;
            padding-right: 10px;
            background: linear-gradient(226.94deg, rgba(206, 240, 255, 0.53) 0%, #57AABC 100%);
            border-radius: 10%;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
            color: white;
        }

        .paging-text-style:hover {
            background-color: white;
            border: solid 1px #0F7C9D;
            color: #0F7C9D;
        }
    </style>
</head>

<body>
<div class="d-flex ">

    <!-- ---------------------------navbar--------------------------- -->
    <div th:replace="~{fragments/MyNavbar :: menu}">
    </div>
    <!-- -----------------------------------------------body------------------------------------------------------- -->
    <div class="main-section ">
        <div class="container">
            <!-- ------------------------------------Sub navbar  ------------------------ -->
            <div th:replace="~{fragments/MyNavbar :: navProfile}"></div>
        </div>
        <!-- ---------------------------------------- Main task-------------------------- -->
        <div class="ms-5 ps-5">
            <h1 class="animate__animated animate__fadeIn" style="font-weight: 600">Generation Management</h1>
            <div class="d-flex">
                <div>
                    <!-- ------------- add generation------------- -->
                    <div style="text-align: right; margin-right: 16px;"
                         class="animate__animated animate__flipInX animate__delay-1s">
                        <button class="button-add"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-add-gen"

                        ><i class="fas fa-plus"></i>Add Generaion
                        </button>
                    </div>
                    <!-- -------------- Show Generation ----------- -->
                    <div style="width: 940px;">
                        <!---------------------Group of Box-------------------------------------  -->
                        <div class="d-flex flex-wrap  ">
                            <!-- -------------------- box------------------ -->
                            <div style="position: relative" th:each="generation ,i : ${generations}"
                                 th:if="${generation.getStatus() != 0}">

                                <!--   =============================== Modal ======================================-->
                                <!-- -------------modal edit-------------------- -->
                                <div class="modal fade " th:id="'modal-edit-gen-progress'+${i.index}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true"
                                >
                                    <div style="max-width: 600px; " class=" modal-dialog modal-dialog-centered ">
                                        <div style="border-radius: 20px !important;" class=" modal-content py-4">
                                            <div class="w-75 m-auto">
                                                <!-- ----------- Title ---------->
                                                <div style="text-align: center" class="modal-title my-2">
                                                    <h2 style="font-weight: 600; color: #0F7C9D">Edit Generation</h2>
                                                </div>
                                                <!-- ------------------ Information--------------------->
                                                <form th:action="@{/dashboard/generation/{id}/edit(id=${generation.getId()})}" method="post">
                                                    <!-- ------------------input -------------------->
                                                    <div class="d-flex justify-content-between pt-2 px-5">
                                                        <!--  ---------label--------->
                                                        <div>
                                                            <div><label class="modal-label-gen my-1" for="modal-add-generation">Generation</label></div>
                                                            <div><label class="modal-label-gen my-1" for="modal-add-gen-type">Type</label></div>
                                                            <div><label class="modal-label-gen my-1" for="modal-add-gen-status">Status</label></div>
                                                        </div>
                                                        <!-- -------- input---------->
                                                        <div>
                                                            <div>
                                                                <input class="modal-input-gen my-1"
                                                                       type="number"
                                                                       id="modal-edit-generation-progress"
                                                                       name="generationName"
                                                                       min="1"
                                                                       th:value="${generation.getGenerationName()}"
                                                                >
                                                                <label class="modal-label-gen ms-1">Gen</label>
                                                            </div>
                                                            <div>
                                                                <select class="modal-select-gen my-1" name="type" id="modal-edit-gen-type-progress">
                                                                    <option  th:selected="${generation.getType()}== 2" th:value="2">Advanced</option>
                                                                    <option th:selected="${generation.getType()}== 1" th:value="1">Basic</option>
                                                                </select>
                                                            </div>
                                                            <div>
                                                                <select class="modal-select-gen my-1" name="status" id="modal-edit-gen-status-progress" disabled>
                                                                    <option  th:selected="${generation.getStatus()}== 0" th:value="0">Archived</option>
                                                                    <option  th:selected="${generation.getStatus()}== 1" th:value="1">Progress</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-------------- button------------->
                                                    <div class="px-5 mt-4">
                                                        <button class="btn-modal-gen btn-accept-color me-3">Edit</button>
                                                        <button class="btn-modal-gen btn-reject-color cancel-edit-gen"
                                                                data-bs-dismiss="modal"
                                                        >Cancel
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--   =============================================================================-->

                                <!-- ----------option button----------- -->
                                <div class="gen-option-button" style="position: absolute; top: 20px; right: 20px">
                                    <div class="dropdown ">
                                        <button class="btn " type="button" id="dropdownMenu1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <ul class="dropdown-menu animate__animated animate__flipInX animate__faster"
                                            aria-labelledby="dropdownMenu1">
                                            <li>
                                                <button class="dropdown-item"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#modal-edit-gen"
                                                        th:attr="data-bs-target='#modal-edit-gen-progress'+${i.index}"
                                                >edit
                                                </button>
                                            </li>
                                            <li>
                                                <button id="btn-remove-gen-progress" class="dropdown-item"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#modal-remove-gen"
                                                        disabled
                                                >remove
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <a style="text-decoration: none; color: white;"
                                       th:href="@{/dashboard/generation/{id}/view(id=${generation.getId()})}">
                                        <div class="gen-box gen-box-color2 d-flex flex-column justify-content-between m-3">
                                            <div class="d-flex justify-content-start">
                                                <h3>Progress</h3>
                                                <!----------------->
                                            </div>
                                            <div class="align-self-center">
                                                <h1 th:text="${generation.getGenerationName()}+'th'"></h1>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <p th:text="${generation.getType()==1} ? 'Basic Course' : 'Advance Cource'"></p>
                                                </div>
                                                <i class="fas fa-users"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- ----------------------------box 2---------------->
                            <div style="position: relative" th:each="gen ,i : ${generations}"
                                 th:if="${gen.getStatus() == 0}">

                                <!--   =============================== Modal ======================================-->
                                <!-- -------------modal edit-------------------- -->
                                <div class="modal fade " th:id="'modal-edit-gen-archived'+${i.index}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true"
                                >
                                    <div style="max-width: 600px; " class=" modal-dialog modal-dialog-centered ">
                                        <div style="border-radius: 20px !important;" class=" modal-content py-4">
                                            <div class="w-75 m-auto">
                                                <!-- ----------- Title ---------->
                                                <div style="text-align: center" class="modal-title my-2">
                                                    <h2 style="font-weight: 600; color: #0F7C9D">Edit Generation</h2>
                                                </div>
                                                <!-- ------------------ Information--------------------->
                                                <form th:action="@{/dashboard/generation/{id}/edit(id=${gen.getId()})}" method="post">
                                                    <!-- ------------------input -------------------->
                                                    <div class="d-flex justify-content-between pt-2 px-5">
                                                        <!--  ---------label--------->
                                                        <div>
                                                            <div><label class="modal-label-gen my-1" for="modal-add-generation">Generation</label></div>
                                                            <div><label class="modal-label-gen my-1" for="modal-add-gen-type">Type</label></div>
                                                            <div><label class="modal-label-gen my-1" for="modal-add-gen-status">Status</label></div>
                                                        </div>
                                                        <!-- -------- input---------->
                                                        <div>
                                                            <div>
                                                                <input class="modal-input-gen my-1"
                                                                       type="number"
                                                                       id="modal-edit-generation"
                                                                       name="generationName"
                                                                       min="1"
                                                                       th:value="${gen.getGenerationName()}"
                                                                >
                                                                <label class="modal-label-gen ms-1">Gen</label>
                                                            </div>
                                                            <div>
                                                                <select class="modal-select-gen my-1" name="type" id="modal-edit-gen-type">
                                                                    <option  th:selected="${gen.getType()}== 2" th:value="2">Advanced</option>
                                                                    <option th:selected="${gen.getType()}== 1" th:value="1">Basic</option>
                                                                </select>
                                                            </div>
                                                            <div>
                                                                <select class="modal-select-gen my-1" name="status" id="modal-edit-gen-status">
                                                                    <option  th:selected="${gen.getStatus()}== 0" th:value="0">Achived</option>
                                                                    <option  th:selected="${gen.getStatus()}== 1" th:value="1">Progress</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-------------- button------------->
                                                    <div class="px-5 mt-4">
                                                        <button class="btn-modal-gen btn-accept-color me-3">Edit</button>
                                                        <button class="btn-modal-gen btn-reject-color cancel-edit-gen"
                                                                data-bs-dismiss="modal"
                                                        >Cancel
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- -------------modal remove-------------------- -->
                                <div class="modal fade " th:id="'modal-remove-gen'+${i.index}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true"
                                >
                                    <div style="max-width: 600px; " class=" modal-dialog modal-dialog-centered ">
                                        <div style="border-radius: 20px !important;" class=" modal-content py-4">
                                            <div class="w-75 m-auto">
                                                <!-- ----------- Title ---------->
                                                <div style="text-align: center" class="modal-title my-2">
                                                    <h2 style="font-weight: 600; color: #0F7C9D">Remove Generation</h2>
                                                </div>
                                                <!-- ---------- Information------------>
                                                <!-- -------------input --------------->
                                                <div class="d-flex justify-content-between pt-2 px-5">
                                                    <!--  ---------label--------->
                                                    <div>
                                                        <div><label class="modal-label-gen my-1" for="modal-add-generation">Generation</label></div>
                                                        <div><label class="modal-label-gen my-1" for="modal-add-gen-type">Type</label></div>
                                                        <div><label class="modal-label-gen my-1" for="modal-add-gen-status">Status</label></div>
                                                    </div>
                                                    <!-- -------- input---------->
                                                    <div>
                                                        <div>
                                                            <input class="modal-input-gen my-1" type="number"
                                                                   id="modal-remove-generation"
                                                                   min="1"
                                                                   readonly
                                                                   th:value="${gen.getGenerationName()}"
                                                            >
                                                            <label class="modal-label-gen ms-1">Gen</label>
                                                        </div>
                                                        <div>
                                                            <select class="modal-select-gen my-1"
                                                                    id="modal-remove-gen-type"
                                                                    disabled
                                                            >
                                                                <option th:selected="${gen.getType()}==2" th:value="2">Advanced</option>
                                                                <option th:selected="${gen.getType()}==1" th:value="1">Basic</option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <select class="modal-select-gen my-1"
                                                                    id="modal-remove-gen-status"
                                                                    disabled
                                                            >
                                                                <option th:selected="${gen.getStatus()}==0" th:value="0">Archived</option>
                                                                <option th:selected="${gen.getStatus()}==1" th:value="1">Progress</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-------------- button------------->
                                                <div class="px-5 mt-4">
                                                    <a th:href="@{/dashboard/generation/{id}/delete(id=${gen.getId()})}">
                                                        <button class="btn-modal-gen btn-accept-color me-3">Remove</button>
                                                    </a>
                                                    <button class="btn-modal-gen btn-reject-color"
                                                            data-bs-dismiss="modal"
                                                    >Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--   ============================================================================-->

                                <!-- ----------option button----------- -->
                                <div class="gen-option-button" style="position: absolute; top: 20px; right: 20px">
                                    <div class="dropdown ">
                                        <button class="btn " type="button" id="dropdownMenu2"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <ul class="dropdown-menu animate__animated animate__flipInX animate__faster"
                                            aria-labelledby="dropdownMenu2">
                                            <li>
                                                <button class="dropdown-item"
                                                        data-bs-toggle="modal"
                                                        th:attr="data-bs-target='#modal-edit-gen-archived'+${i.index}"
                                                        th:disabled="${gen.getId()<activeGeneration.getId()}"
                                                >edit
                                                </button>
                                            </li>
                                            <li>
                                                <button id="btn-remove-gen-achieved" class="dropdown-item"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#modal-remove-gen"
                                                        th:attr="data-bs-target='#modal-remove-gen'+${i.index}"
                                                        th:disabled="${gen.getId()<=activeGeneration.getId()}"
                                                >remove
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <a style="text-decoration: none; color: white;"
                                       th:href="@{/dashboard/generation/{id}/view(id=${gen.getId()})}">
                                        <div class="gen-box gen-box-color d-flex flex-column justify-content-between m-3 ">
                                            <div class="d-flex justify-content-start">
                                                <h3>Archived</h3>
                                                <!----------------->
                                            </div>
                                            <div class="align-self-center">
                                                <h1 th:text="${gen.getGenerationName()}+'th'"></h1>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <p th:text="${gen.getType()==1} ? 'Basic Course' : 'Advance Cource'"></p>
                                                </div>
                                                <i class="fas fa-users"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--  ----------Pagination ---------------->
                        <div class="py-3" th:if="${paging.totalPages}>0">

                            <!--  show pagination number -->
                            <div class="d-flex justify-content-center align-item-center">
                                <!--   first-->
                                <a class="paging-style paging-text-style"
                                   th:href="@{${#httpServletRequest.requestURI}(page=1)}">First</a>
                                <!--  previous-->
                                <a class="paging-style paging-text-style"
                                   th:href="@{${#httpServletRequest.requestURI}(page=${paging.previousPage})}">Previous</a>
                                <a th:each="i: ${#numbers.sequence(paging.startPage, paging.endPage)}"
                                   class="paging-style paging-number-style num-page"
                                   th:href="@{${#httpServletRequest.requestURI}(page=${i})}" th:text="${i}"
                                ></a>
                                <!--   Next-->
                                <a class="paging-style paging-text-style "
                                   th:href="@{${#httpServletRequest.requestURI}(page=${paging.nextPage})}">Next</a>
                                <!--  Last-->
                                <a class="paging-style paging-text-style"
                                   th:href="@{${#httpServletRequest.requestURI}(page=${paging.totalPages})}">Last</a>
                            </div>
                        </div>
                        <!--  end pagination-->
                    </div>

                </div>
                <!-- utility--------------------------------- -->
                <div class="utility-section">
                    <div th:replace="~{fragments/Utility :: dateAndTime}"></div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- -------------modal add-------------------- -->
<div class="modal fade " id="modal-add-gen" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
>
    <div style="max-width: 600px; " class=" modal-dialog modal-dialog-centered ">
        <div style="border-radius: 20px !important;" class=" modal-content py-4">
            <div class="w-75 m-auto">
                <!-- ----------- Title ---------->
                <div style="text-align: center" class="modal-title my-2">
                    <h2 style="font-weight: 600; color: #0F7C9D">Add New Generation</h2>
                </div>
                <!-- ---------- Information------------>
                <form th:action="@{/dashboard/generation/add}" method="post">
                    <!-- -------------input --------------->
                    <div class="d-flex justify-content-between pt-2 px-5">
                        <!--  ---------label--------->
                        <div>
                            <div><label class="modal-label-gen my-1" for="modal-add-generation">Generation</label></div>
                            <div><label class="modal-label-gen my-1" for="modal-add-gen-type">Type</label></div>
                            <div><label class="modal-label-gen my-1" for="modal-add-gen-status">Status</label></div>
                        </div>
                        <!-- -------- input---------->
                        <div>
                            <div>
                                <input class=" modal-input-gen my-1"
                                       type="number"
                                       id="modal-add-generation"
                                       min="1"
                                       name="generationName"
                                       required
                                >
                                <label class="modal-label-gen ms-1">Gen</label>
                            </div>
                            <div>
                                <select class="modal-select-gen my-1"
                                        id="modal-add-gen-type"
                                        name="type"
                                >
                                    <option th:value="2">Advanced</option>
                                    <option th:value="1">Basic</option>
                                </select>
                            </div>
                            <div>
                                <select class="modal-select-gen my-1"
                                        id="modal-add-gen-status"
                                        name="status"
                                >
                                    <option th:value="0">Achived</option>
                                    <option th:value="1">Progress</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-------------- button------------->
                    <div class="px-5 mt-4">
                        <button class="btn-modal-gen btn-accept-color me-3">Add</button>
                        <button class="btn-modal-gen btn-reject-color"
                                data-bs-dismiss="modal"
                                id="btn-cancel-add"
                        >Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script th:inline="javascript" >
    let btnCancelAdd = document.getElementById("btn-cancel-add");
    let btnCancelEdit = document.getElementsByClassName("cancel-edit-gen");


    for (let i = 0; i < btnCancelEdit.length; i++) {
        btnCancelEdit[i].addEventListener("click", function (event) {
            event.preventDefault();
        }, false);
    }
    btnCancelAdd.onclick = (e) => {
        e.preventDefault();
    }

    //  --------------- pagination custom---------------------->
    let numPage = document.getElementsByClassName("num-page");
    let j;
    let param = [[${param.page}]][0].toString()
    console.log("param: ",param)

    for(j=0; j<numPage.length; j++){
        if((numPage[j].innerHTML)===(param)){
            // console.log("true")
            numPage[j].classList.add("current-paging-number-style");
            // console.log(numPage[i])
        }
        else {
            // console.log("false")
            // numPage[j].classList.add("paging-number-style");
            // console.log(numPage[j])
        }
    }
    //  --------------- end pagination custom---------------------->

</script>
<!-- -----------calendar-------------- -->
<script type="text/javascript" th:src="@{/js/caleandar.js}"></script>
<script type="text/javascript" th:src="@{/js/demo_calendar.js}"></script>
<!---------------time-------------------->
<script type="text/javascript" th:src="@{/js/my-time.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>

</html>