<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/login-style.css}"/>

    <style>
        .header_color{
            color: #0F7C9D;
        }
        #btn-modal-sumit {
            background-color: #0F7C9D;
            border: none;
            border-radius: 10px;
            padding: 5px 15px;
            color: white;
        }

        #btn-modal-cancel {
            background-color: #BD2000;
            border: none;
            border-radius: 10px;
            padding: 5px 15px;
            color: white;
        }
        .reset_pwd{
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-between mt-3">
        <div>
            <img th:src="@{/images/logo/logo.png}" height="70px" alt="logo"/>
        </div>
        <div>
            <img th:src="@{/images/logo/kshrd-logo.png}" height="70px" alt="logo"/>
        </div>
    </div>
    <div class="body-login">
        <h5 class="header_color">Login</h5>
        <form action="/login" method="post" enctype="multipart/form-data">
            <input class="input-login" type="text" name="username" placeholder="Username" required><br>
            <input class="input-login" type="password" name="password" placeholder="Password" required><br>

            <div class="d-flex justify-content-between my-3">
                <div>
                    <input class="form-check-input ml-1" type="checkbox" name="remember" value="" id="flexCheckDefault">
                    <label id="remember-me" class="form-check-label " for="flexCheckDefault">Remember me</label>
                </div>
                <a id="forget-password" class="reset_pwd"
                   data-bs-toggle="modal"
                   data-bs-target="#resetPwdModal"
                   >Forget password?</a>

            </div>
            <button class="button-login " type="submit">Login</button>
        </form>

    </div>

</div>

<!--========= modal =========-->
<div class="modal fade " id="resetPwdModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
      >
    <div style="max-width: 550px; " class=" modal-dialog modal-dialog-centered ">
        <div style="border-radius: 20px !important;" class=" modal-content py-4">
            <div class="modal-title mt-3">
                <h3 style="font-weight: 600;" class="text-center header_color">Reset Your Password</h3>
                <p class="text-center header_color">Please input your email address</p>
            </div>
            <!-- ---------------- information ----------------------- -->
            <div style="width: 70%; margin: auto">
                <div class="my-4 ">
                    <div class="my-3">
                        <input type="email"
                               class="form-control modal-textbox"
                               id="modal-current-password"
                               placeholder="Input your email"
                        >
                    </div>

                </div>
                <div class="my-3 ">
                    <a  th:href="@{/setnewpassword}" >
                        <button type="button" class="button-form-control me-1"
                                id="btn-modal-sumit">Submit</button>
                    </a>
                    <button class="button-form-control" id="btn-modal-cancel"
                            data-bs-dismiss="modal">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>