<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Generation</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--    ++++++++++++++++++++ My Style -+++++++++++++++++++++++-->
    <link rel="stylesheet" th:href="@{/css/navbar-style.css}">
    <!--    ++++++++++++++++++++++++++ Date and time +++++++++++++++++++-->
    <link rel="stylesheet" th:href="@{/css/demo_calendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/theme1.css}"/>
    <link rel="stylesheet" th:href="@{/css/my-time.css}"/>
    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }

        .main-section {
            height: 100vh;
            width: 100%;
            background-color: #F4F4F4;
            /* padding-left: 20px; */
        }

        .utility-section {
            margin: 0 0 0 120px;
        }

        .gen-box {
            width: 280px;
            height: 170px;
            border-radius: 20px;
            padding: 20px;
            font-size: 1.5rem;
            color: white;
            margin: 0 0 20px 0;
        }

        .gen-box p {
            font-size: 20px;
            margin: 0;
        }

        .gen-box-color {
            background: linear-gradient(226.94deg, rgba(255, 206, 235, 0.53) 0%, #BC5775 100%);
        }

        .gen-box-color2 {
            background: linear-gradient(226.94deg, rgba(206, 240, 255, 0.53) 0%, #57AABC 100%);
        }

        .disable-underline a {
            text-decoration: none;
        }

        .button-add {
            padding: 6px 15px;
            border: none;
            border-radius: 30px;
            background-color: #0F7C9D;
            color: white;
            font-weight: 300;
            margin-bottom: 10px;
        }

        .gen-option-button i {
            color: white;
        }
    </style>
</head>

<body>
<div class="d-flex ">

    <!-- ---------------------------navbar--------------------------- -->
    <div th:replace="~{fragments/MyNavbar :: menu}">
    </div>
    <!-- -----------------------------------------------body------------------------------------------------------- -->
    <div class="main-section ">
        <div class="container">
            <!-- ------------------------------------Sub navbar  ------------------------ -->
            <div th:replace="~{fragments/MyNavbar :: navProfile}"></div>
        </div>
        <!-- ---------------------------------------- Main task-------------------------- -->
        <div class="ms-5 ps-5">
            <h1 style="font-weight: 600">Generation Management</h1>
            <div class="d-flex">
                <div>
                    <!-- ------------- add generation------------- -->
                    <div style="text-align: right;">
                        <button class="button-add"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-add-gen"

                        ><i class="fas fa-plus"></i>Add Generaion</button>
                    </div>
                    <!-- -------------- Show Generation ----------- -->
                    <div style="width: 900px;">
                        <!---------------------Group of Box-------------------------------------  -->
                        <div class="d-flex flex-wrap justify-content-between ">
                            <!-- -------------------- box------------------ -->
                            <div style="position: relative" th:each="gen : ${newGen}"
                                 th:if="${gen.getStatus() != 0}">
                                <!-- ----------option button----------- -->
                                <div class="gen-option-button" style="position: absolute; top: 20px; right: 20px">
                                    <div class="dropdown ">
                                        <button class="btn " type="button" id="dropdownMenu1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li>
                                                <button class="dropdown-item"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#modal-edit-gen"
                                                        th:attrappend="data-bs-target=${gen.getId()}"
                                                >edit</button>
                                            </li>
                                            <li>
                                                <button id="btn-remove-gen-progress" class="dropdown-item"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#modal-remove-gen"

                                                >remove
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <a style="text-decoration: none; color: white;"
                                       th:href="@{/dashboard/generation/{id}/view(id=${gen.getId()})}">
                                        <div class="gen-box gen-box-color2 d-flex flex-column justify-content-between ">
                                            <div class="d-flex justify-content-start">
                                                <h3>Progress</h3>
                                                <!----------------->
                                            </div>
                                            <div class="align-self-center">
                                                <h1 th:text="${gen.getGenerationName()}+'th'"></h1>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <p th:text="${gen.getType()==1} ? 'Basic Course' : 'Advance Cource'"></p>
                                                </div>
                                                <i class="fas fa-users"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- ----------------------------box 2---------------->
                            <div style="position: relative" th:each="gen : ${newGen}"
                                 th:if="${gen.getStatus() == 0}">
                                <!-- ----------option button----------- -->
                                <div class="gen-option-button" style="position: absolute; top: 20px; right: 20px">
                                    <div class="dropdown ">
                                        <button class="btn " type="button" id="dropdownMenu2"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <li>
                                                <button class="dropdown-item"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#modal-edit-gen"

                                                >edit</button>
                                            </li>
                                            <li>
                                                <button id="btn-remove-gen-achieved" class="dropdown-item"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#modal-remove-gen"

                                                >remove
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <a style="text-decoration: none; color: white;"
                                       th:href="@{/dashboard/generation/{id}/view(id=${gen.getId()})}">
                                        <div class="gen-box gen-box-color d-flex flex-column justify-content-between ">
                                            <div class="d-flex justify-content-start">
                                                <h3>Achieved</h3>
                                                <!----------------->
                                            </div>
                                            <div class="align-self-center">
                                                <h1 th:text="${gen.getGenerationName()}+'th'"></h1>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <p th:text="${gen.getType()==1} ? 'Basic Course' : 'Advance Cource'"></p>
                                                </div>
                                                <i class="fas fa-users"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- ------------------------ pagination ---------------------- -->
                        <div style="text-align: center;">
                            <p>1 2 3 </p>
                        </div>
                    </div>

                </div>
                <!-- utility--------------------------------- -->
                <div class="utility-section">
                    <div th:replace="~{fragments/Utility :: dateAndTime}"></div>
                </div>
            </div>

        </div>

    </div>

</div>

<table>
    <tr>
        <th>name</th>
    </tr>
    <tr th:each="stu : ${students}">
        <td th:text="${stu.}"></td>
    </tr>
</table>
<!-- -------------modal add-------------------- -->
<div class="modal fade " id="modal-add-gen" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true"

>
    <div style="max-width: 700px; " class=" modal-dialog modal-dialog-centered ">
        <div style="border-radius: 20px !important;" class=" modal-content py-4">
            <div class="modal-title my-2">
                <h1 style="font-weight: 600;">Add Generation</h1>
                <h5>Are you sure you want to remove?</h5>
            </div>
            <!-- ---------------- information ----------------------- -->
            <div class="pt-3">
                <div class="d-flex align-items-center justify-content-center  my-3">
                    <div style="width: 150px;">
                        <label for="modal-fullName" class="form-modal-label ">Full
                            name</label>
                    </div>
                    <div>
                        <input type="text"
                               class="form-control modal-textbox"
                               id="modal-fullname"
                        >
                    </div>
                </div>
                <!-- --------------------- Gender ---------------------->
                <div class="d-flex align-items-center justify-content-center my-3">
                    <div style="width: 150px;">
                        <label for="modal-gender" class="form-modal-label ">Gender</label>
                    </div>

                    <div>
                        <input type="text"
                               class="form-control modal-textbox"
                               id="modal-gender"
                        >
                    </div>
                </div>
                <div class="button-modal-group d-flex align-items-center my-2">
                    <a th:href="@{/dashboard}">
                        <button type="submit" class="button-form-control me-3"
                                id="btn-modal-remove">Remove
                        </button>
                    </a>
                    <button class="button-form-control" id="btn-modal-cancel"
                            data-bs-dismiss="modal">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -------------modal edit-------------------- -->
<div class="modal fade " id="modal-edit-gen" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true"

>
    <div style="max-width: 700px; " class=" modal-dialog modal-dialog-centered ">
        <div style="border-radius: 20px !important;" class=" modal-content py-4">
            <div class="modal-title my-2">
                <h1 style="font-weight: 600;">Edit Generation</h1>
                <h5>Are you sure you want to remove?</h5>
            </div>
            <!-- ---------------- information ----------------------- -->
            <div class="pt-3">
                <div class="d-flex align-items-center justify-content-center  my-3">
                    <div style="width: 150px;">
                        <label for="modal-fullName" class="form-modal-label ">Full
                            name</label>
                    </div>
                    <div>
                        <input type="text"
                               class="form-control modal-textbox"
                               id="modal-fullname"

                        >
                    </div>
                </div>
                <!-- --------------------- Gender ---------------------->
                <div class="d-flex align-items-center justify-content-center my-3">
                    <div style="width: 150px;">
                        <label for="modal-gender" class="form-modal-label ">Gender</label>
                    </div>

                    <div>
                        <input type="text"
                               class="form-control modal-textbox"
                               id="modal-gender"
                        >
                    </div>
                </div>
                <div class="button-modal-group d-flex align-items-center my-2">
                    <a th:href="@{/dashboard}">
                        <button type="submit" class="button-form-control me-3"
                                id="btn-modal-remove">Remove
                        </button>
                    </a>
                    <button class="button-form-control" id="btn-modal-cancel"
                            data-bs-dismiss="modal">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -------------modal remove-------------------- -->
<div class="modal fade " id="modal-remove-gen" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
>
    <div style="max-width: 700px; " class=" modal-dialog modal-dialog-centered ">
        <div style="border-radius: 20px !important;" class=" modal-content py-4">
            <div class="modal-title my-2">
                <h1 style="font-weight: 600;">Remove Generation</h1>
                <h5>Are you sure you want to remove?</h5>
            </div>
            <!-- ---------------- information ----------------------- -->
            <div class="pt-3">
                <div class="d-flex align-items-center justify-content-center  my-3">
                    <div style="width: 150px;">
                        <label for="modal-fullName" class="form-modal-label ">Full
                            name</label>
                    </div>
                    <div>
                        <input type="text"
                               class="form-control modal-textbox"
                               id="modal-fullname"
                        >
                    </div>
                </div>
                <!-- --------------------- Gender ---------------------->
                <div class="d-flex align-items-center justify-content-center my-3">
                    <div style="width: 150px;">
                        <label for="modal-gender" class="form-modal-label ">Gender</label>
                    </div>

                    <div>
                        <input type="text"
                               class="form-control modal-textbox"
                               id="modal-gender"
                        >
                    </div>
                </div>
                <div class="button-modal-group d-flex align-items-center my-2">
                    <a th:href="@{/dashboard}">
                        <button type="submit" class="button-form-control me-3"
                                id="btn-modal-remove">Remove
                        </button>
                    </a>
                    <button class="button-form-control" id="btn-modal-cancel"
                            data-bs-dismiss="modal">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- -----------calendar-------------- -->
<script type="text/javascript" th:src="@{/js/caleandar.js}"></script>
<script type="text/javascript" th:src="@{/js/demo_calendar.js}"></script>
<!---------------time-------------------->
<script type="text/javascript" th:src="@{/js/my-time.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>



</body>

</html>