<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/login-style.css}"/>

    <style>
        .header_color{
            color: #0F7C9D;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-between mt-3">
        <div>
            <img th:src="@{/images/logo/logo.png}" height="70px" alt="logo"/>
        </div>
        <div>
            <img th:src="@{/images/logo/kshrd-logo.png}" height="70px" alt="logo"/>
        </div>
    </div>
    <div class="body-login">
        <h5 class="header_color">Reset Password</h5>
        <form action="" method="post" enctype="multipart/form-data">
            <input class="input-login" type="text" name="username" placeholder="Enter New Password"><br>
            <input class="input-login" type="password" name="password" placeholder="Confirm Password"><br>


            <button class="button-login mt-3" type="button">Set Password</button>
        </form>

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>