<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student Profile</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--------------------    Navbar style (thymeleaf)------------------->
    <link rel="stylesheet" th:href="@{/css/navbar-style.css}"/>
    <!-----------------------------Date time---------------------------->
    <link rel="stylesheet" th:href="@{/css/demo_calendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/theme1.css}"/>
    <link rel="stylesheet" th:href="@{/css/my-time.css}"/>

    <style>


        .profile-info {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            background-color: white;
            padding: 20px 20px 40px 20px;
        }

        #btn-edit {
            background-color: #0F7C9D;
            padding: 5px 10px;
            margin-right: 13px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        .data-input {
            width: 300px;
            padding: 5px;
            margin: 0 0 10px 0;
        }

        .data-choose {
            width: 100px;
            padding: 5px;
            margin: 0 0 10px 0;
        }

        .data-choose-class {
            width: 180px;
        }

        .label-style {
            margin: 0 0 20px 0;
        }

        .button-form-control {
            font-size: 15px;
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        #button-change-student {
            background-color: #0F7C9D;
        }

        #button-remove-student {
            background-color: #BD2000;
        }

        #btn-edit {
            background-color: #0F7C9D;
            padding: 5px 10px;
            margin-right: 13px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        #back i {
            font-size: 35px;
            color: #0F7C9D;
        }

        .utility-section {
            margin: 0 0 0 120px;
            background: none;
        }

        /* --------------- modal style-------------------- */
        .modal-title {
            text-align: center;
            color: #0F7C9D;
        }

        .modal-textbox {
            width: 280px;
            padding: 5px 20px;
            font-size: 20px;
            /* margin: 0 0 10px 0; */
            border-radius: 10px;
            background-color: #f1f1f1;
        }

        .button-form-control {
            font-size: 15px;
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        #btn-modal-remove {
            background-color: #0F7C9D;
        }

        #btn-modal-cancel {
            background-color: #BD2000;
        }

        .button-modal-group {
            margin-left: 150px;
        }

        .form-modal-label {
            font-size: 20px;
        }
    </style>
</head>

<body>
<div class="d-flex ">

    <!-- ---------------------------navbar--------------------------- -->
    <div th:replace="~{fragments/MyNavbar :: menu}">
    </div>


    <!-- -----------------------------------------------body------------------------------------------------------- -->
    <div class="main-section ">
        <div class="container">
            <!-- ------------------------------------Sub navbar  ------------------------ -->
            <div th:replace="~{fragments/MyNavbar :: navProfile}"></div>

            <!--            ----------------------------------------main body--------------------------------------------------->
            <div style="max-width: 500px">
                <h1 class="animate__animated animate__bounceInDown" style="font-weight: 600">Student Profile</h1>
            </div>

            <!--             +++++++++++++++++++++ Main Code here ++++++++++++++++++++++++++++++  -->
            <div class="d-flex pt-4">
                <!-- --------------------------Profile information frame---------------------- -->
                <div>
                    <div class="profile-info animate__animated animate__backInLeft">
                        <div class="d-flex justify-content-between">
                            <a id="back" th:href="@{/dashboard/student}">
                                <i class="fas fa-chevron-circle-left"></i></a>
                            <!--                            <button id="back" onclick="goBack()"></button>-->
                            <button id="btn-edit" onclick="editInformationStudent()">Edit Info</button>
                        </div>
                        <form onsubmit=" return studentValidate()"
                              th:action="@{/dashboard/student/{id}/updating(id=${student.getId()})}"
                              method="post" th:object="${student}" enctype="multipart/form-data">
                            <div class="d-flex mt-3">
                                <!-- ------------------photo----------------- -->
                                <div class="pt-2">
                                    <div style="width: 200px; ">
                                        <label for="file" style="cursor: pointer;">
                                            <img id="output"
                                                 class="rounded"
                                                 th:src="@{${student.getProfileImg()}}"
                                                 alt="photo" width="100%">
                                        </label>
                                        <input type="file" accept="image/*" name="file" id="file"
                                               onchange="loadFile(event)" style="display: none;">
                                    </div>
                                </div>
                                <!-- --------------------------form area------------------------------- -->
                                <div style=" width: 500px;" class="pt-3">
                                    <!-- -------------form-------------- -->
                                    <div class="row g-3 ">
                                        <!-- ----------- fullname--------- -->
                                        <div class="d-flex align-items-center ms-5 my-0">
                                            <div style="width: 90px;">
                                                <label for="student-fullName" class="form-label ">Full name</label>
                                            </div>
                                            <div class="ms-5">
                                                <input type="text" class="form-control data-input"
                                                       id="student-fullName"
                                                       th:field="*{fullName}"
                                                       th:value="${student.getFullName()}"
                                                       required
                                                >
                                                <small id="fullName-msg" style="color:#BD2000; display: none">invalid
                                                    input</small>
                                            </div>
                                        </div>
                                        <!--  ------------ student ID--------- -->
                                        <div class="d-flex align-items-center ms-5 my-0">
                                            <div style="width: 90px;">
                                                <label for="studentID" class="form-label ">Student ID</label>
                                            </div>
                                            <div class="ms-5">
                                                <input type="text" class="form-control data-input"
                                                       id="studentID"
                                                       th:field="*{id}"
                                                       th:value="${student.getId()}"
                                                       required
                                                >
                                                <small id="studentId-msg" style="color:#BD2000; display: none">invalid
                                                    input</small>
                                            </div>
                                        </div>
                                        <!-- -------------------email-------------- -->
                                        <div class="d-flex align-items-center ms-5 my-0">
                                            <div style="width: 90px;">
                                                <label for="email" class="form-label ">Email</label>
                                            </div>
                                            <div class="ms-5">
                                                <input type="email" class="form-control data-input"
                                                       id="email"
                                                       name="email"
                                                       th:value="${student.getEmail()}"
                                                       required
                                                >
                                                <small id="email-msg" style="color:#BD2000; display: none">invalid
                                                    input</small>
                                            </div>
                                        </div>
                                        <!-- ------------------ gender------------------->
                                        <div class="d-flex align-items-center ms-5 my-0">
                                            <div style="width: 90px;">
                                                <label for="student-gender" class="form-label ">Gender</label>
                                            </div>
                                            <div class="ms-5">
                                                <select class="form-select data-choose" id="student-gender"
                                                        th:field="*{gender}">
                                                    <option th:selected="${student.getGender()}=='Male'"
                                                            th:value="Male"
                                                    >Male
                                                    </option>
                                                    <option th:selected="${student.getGender()}=='Female'"
                                                            th:value="Female"
                                                    >Female
                                                    </option>
                                                </select>
                                                <small style="color:goldenrod; display: none;">invalid input</small>
                                            </div>
                                        </div>
                                        <!-- ------------------ class------------------->
                                        <div class="d-flex align-items-center ms-5 my-0">
                                            <div style="width: 90px;">
                                                <label for="student-class" class="form-label ">Class</label>
                                            </div>
                                            <div class="ms-5">
                                                <select class="form-select data-choose data-choose-class"
                                                        id="student-class"
                                                        th:field="*{classroom.id}">
                                                    <option th:each="classroom : ${classrooms}"
                                                            th:value="${classroom.getId()}"
                                                            th:text="${classroom.getClassName()}"
                                                            th:selected="${student.getClassroom().getClassName()} == ${classroom.getClassName()}"
                                                    ></option>
                                                </select>
                                                <small style="color:goldenrod; display: none;">invalid input</small>
                                            </div>
                                        </div>
                                        <!--  -----------------Generation---------------- -->
                                        <div class="d-flex align-items-center ms-5 my-0">
                                            <div style="width: 90px;">
                                                <label for="student-gen" class="form-label ">Generation</label>
                                            </div>
                                            <div class="ms-5">
                                                <input type="text"
                                                       class="bg-white form-control data-input form-control-plaintext"
                                                       id="student-gen"
                                                       th:value="${student.getGeneration().getGenerationName()}"
                                                       readonly>
                                            </div>
                                        </div>
                                        <!-- ------------------- button form control--------------- -->
                                        <div class="d-flex align-items-center ms-5 mt-4">
                                            <div style="width: 140px;">
                                                <button type="submit" class="button-form-control"
                                                        id="button-change-student">Save
                                                    Change
                                                </button>
                                            </div>
                                            <div class="">
                                                <button class="button-form-control" id="button-remove-student"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#myModalRemove"
                                                        th:attrappend="data-bs-target=${student.getId()}">
                                                    >
                                                    Remove
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- -------------------- utility section----------------- -->
                <div class="utility-section">
                    <div th:replace="~{fragments/Utility :: dateAndTime}"></div>
                </div>
            </div>

        </div>

        <!--            --------------------------------------------------------------------------------------------------------------->
    </div>
</div>


<!-- -------------modal-------------------- -->
<div class="modal fade " id="myModalRemove" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
     th:attrappend="id=${student.getId()}">
    <div style="max-width: 700px; " class=" modal-dialog modal-dialog-centered ">
        <div style="border-radius: 20px !important;" class=" modal-content py-4">
            <div class="modal-title my-2">
                <h1 style="font-weight: 600;">Remove Student</h1>
                <h5>Are you sure you want to remove?</h5>
            </div>
            <!-- ---------------- information ----------------------- -->
            <div class="pt-3">
                <div class="d-flex align-items-center justify-content-center  my-3">
                    <div style="width: 150px;">
                        <label for="modal-fullName" class="form-modal-label ">Full
                            name</label>
                    </div>
                    <div>
                        <input type="text" readonly
                               class="form-control modal-textbox"
                               id="modal-fullname"
                               th:value="${student.getFullName()}"
                        >
                    </div>
                </div>
                <!-- --------------------- Gender ---------------------->
                <div class="d-flex align-items-center justify-content-center my-3">
                    <div style="width: 150px;">
                        <label for="modal-gender" class="form-modal-label ">Gender</label>
                    </div>

                    <div>
                        <input type="text" readonly
                               class="form-control modal-textbox"
                               id="modal-gender"
                               th:value="${student.getGender()}">
                    </div>
                </div>
                <div class="button-modal-group d-flex align-items-center my-2">
                    <a th:href="@{/dashboard/student/management/{studentId}/delete(studentId=${student.getId()})}">
                        <button type="submit" class="button-form-control me-3"
                                id="btn-modal-remove">
                            Remove
                        </button>
                    </a>
                    <button class="button-form-control" id="btn-modal-cancel"
                            data-bs-dismiss="modal">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    let status = [[${student.getGeneration().getStatus()}]];
    let btnEdit = document.getElementById("btn-edit");
    let btnRemoveStudent = document.getElementById("button-remove-student");
    let btnSaveChangeStudent = document.getElementById("button-change-student");

    let fullName = document.getElementById("student-fullName");
    let studentId = document.getElementById("studentID");
    let studentEmail = document.getElementById("email");
    let studentGender = document.getElementById("student-gender");
    let studentClass = document.getElementById("student-class");

    // --------------------------Validate Form-------------------->
    const latterOnlyPattern = /^[a-zA-Z ]*$/;
    const noSpacePattern = /^[^\s^\.^\s]+$/;
    const noSpecialCharacter = /^[A-Za-z0-9 ]+$/;
    const validEmail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

    if (status === 0) {
        btnEdit.setAttribute("disabled", "disabled");
        btnEdit.style.backgroundColor = "#6fb0c4"

        btnRemoveStudent.setAttribute("disabled", "disabled");
        btnRemoveStudent.style.backgroundColor = "#de9080";
    }
    //----------- Initialize style for input --------------------
    fullName.style.backgroundColor = "#ffff";
    studentId.style.backgroundColor = "#ffff";
    studentEmail.style.backgroundColor = "#ffff";
    studentGender.style.backgroundColor = "#ffff";
    studentClass.style.backgroundColor = "#ffff";

    fullName.style.border = "none"
    studentId.style.border = "none"
    studentEmail.style.border = "none"
    studentGender.style.border = "none"
    studentClass.style.border = "none"

    fullName.setAttribute("readOnly", "true");
    studentId.setAttribute("readOnly", "true");
    studentEmail.setAttribute("readOnly", "true");
    studentGender.setAttribute("disabled", "disabled");
    studentClass.setAttribute("disabled", "disabled");

    //  --------------- button ---------------------
    btnSaveChangeStudent.setAttribute("disabled", "disabled");
    btnSaveChangeStudent.style.backgroundColor = "#6fb0c4"

    function editInformationStudent() {
        btnSaveChangeStudent.removeAttribute("disabled");
        btnSaveChangeStudent.style.backgroundColor = "#0F7C9D"

        fullName.style.border = "1px solid #ACACAC";
        studentId.style.border = "1px solid #ACACAC";
        studentEmail.style.border = "1px solid #ACACAC";
        studentGender.style.border = "1px solid #ACACAC";
        studentClass.style.border = "1px solid #ACACAC";

        fullName.removeAttribute("readOnly");
        studentId.removeAttribute("readOnly");
        studentEmail.removeAttribute("readOnly");
        studentGender.removeAttribute("disabled");
        studentClass.removeAttribute("disabled");

        btnRemoveStudent.setAttribute("disabled", "disabled");
        btnRemoveStudent.style.backgroundColor = "#de9080";

    }

    btnRemoveStudent.onclick = (e) => {
        e.preventDefault();
    }

    function studentValidate() {

        if (fullName.value === "") {
            document.getElementById("fullName-msg").style.display = "block";
            document.getElementById("fullName-msg").innerHTML = "* Fullname can not be empty";
            return false;
        } else {
            document.getElementById("fullName-msg").style.display = "none";
        }
        if (!isNaN(fullName.value)) {
            document.getElementById("fullName-msg").style.display = "block";
            document.getElementById("fullName-msg").innerHTML = "* Fullname can not be number";
            return false;
        } else {
            document.getElementById("fullName-msg").style.display = "none";
        }
        if (!latterOnlyPattern.test(fullName.value)) {
            document.getElementById("fullName-msg").style.display = "block";
            document.getElementById("fullName-msg").innerHTML = "* can not contain number or special characters";
            return false;
        } else {
            document.getElementById("fullName-msg").style.display = "none";
        }
        //------------ Student id ---------------
        if (studentId.value === "") {
            document.getElementById("studentId-msg").style.display = "block";
            document.getElementById("studentId-msg").innerHTML = "* student id can not be empty";
            return false;
        } else {
            document.getElementById("studentId-msg").style.display = "none";
        }
        if (studentId.value.length < 6) {
            document.getElementById("studentId-msg").style.display = "block";
            document.getElementById("studentId-msg").innerHTML = "* Id length must be at least 6 characters";
            return false;
        } else {
            document.getElementById("studentId-msg").style.display = "none";
        }
        if (!noSpacePattern.test(studentId.value)) {
            document.getElementById("studentId-msg").style.display = "block";
            document.getElementById("studentId-msg").innerHTML = "* student id can not contain whitespace";
            return false;
        } else {
            document.getElementById("studentId-msg").style.display = "none";
        }
        if (!noSpecialCharacter.test(studentId.value)) {
            document.getElementById("studentId-msg").style.display = "block";
            document.getElementById("studentId-msg").innerHTML = "* student id can not contain special character";
            return false;
        } else {
            document.getElementById("studentId-msg").style.display = "none";
        }
        if (!isNaN(username.value)) {
            document.getElementById("studentId-msg").style.display = "block";
            document.getElementById("studentId-msg").innerHTML = "* student id can not be number";
            return false;
        } else {
            document.getElementById("studentId-msg").style.display = "none";
        }
        //---------------email ----------------------------
        if (studentEmail.value === "") {
            document.getElementById("email-msg").style.display = "block";
            document.getElementById("email-msg").innerHTML = "* email can not be empty";
            return false;
        } else {
            document.getElementById("email-msg").style.display = "none";
        }
        if (!validEmail.test(studentEmail.value)) {
            document.getElementById("email-msg").style.display = "block";
            document.getElementById("email-msg").innerHTML = "* invalid email";
            return false;
        } else {
            return true;
        }
    }

    //------------ for upload file by click on label ---------------------
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    //--------------------------------------------------------------------

    // function goBack() {
    //
    // }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!-- -----------calendar-------------- -->
<script type="text/javascript" th:src="@{/js/caleandar.js}"></script>
<script type="text/javascript" th:src="@{/js/demo_calendar.js}"></script>
<!---------------time-------------------->
<script type="text/javascript" th:src="@{/js/my-time.js}"></script>
</body>

</html>