<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--------------------    Navbar style (thymeleaf)------------------->
    <link rel="stylesheet" th:href="@{/css/navbar-style.css}"/>
    <style>

        .table-button {
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        .button-update {
            background-color: #0F7C9D;
        }

        .button-remove {
            background-color: crimson;
        }

        .student-table {
            background-color: white;
            border-radius: 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .student-table th {
            padding: 15px 10px;
            color: #0F7C9D;
        }

        .student-table td {
            padding: 10px 10px;
        }

        .column2 {
            max-width: 60px;
        }

        .column3 {

        }

        .column4 {
            min-width: 120px;
            text-align: center;
        }

        .column5 {
        }

        .column6 {
            width: 100px;
            text-align: center;
        }

        .column7 {
            text-align: center;
            width: 200px;
        }

        .student-table tr:hover {
            padding: 5px;
            border-radius: 20px;
            background-color: #f1f1f1;
        }

        .button-add {
            padding: 6px 15px;
            border: none;
            border-radius: 30px;
            background-color: #0F7C9D;
            color: white;
            font-weight: 300;
        }

        /*----------------search style------------------*/
        .search-box {
            height: 35px;
            border-radius: 20px;
            background-color: white;
            padding: 0 20px;
            color: darkgray;
            font-size: 17px;
        }

        .search-box i {
            font-size: 20px;
            color: #666666;
        }

        .search-box i:hover {
            font-size: 20px;
            color: #0F7C9D;
        }

        .text-search {
            height: 30px;
            width: 180px;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 20px;
        }


        #btn-search {
            background: none;
            border: none;
        }

        .class-dropdown {
            color: #0F7C9D;
            font-weight: 500;
            padding: 5px 20px;
            width: 230px;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #ACACAC;
            box-sizing: border-box;
            border-radius: 10px;
        }

        /* --------------- modal style-------------------- */
        .modal-title {
            text-align: center;
            color: #0F7C9D;
        }

        .modal-textbox {
            width: 280px;
            padding: 5px 20px;
            font-size: 20px;
            /* margin: 0 0 10px 0; */
            border-radius: 10px;
            background-color: #f1f1f1;
        }

        .button-form-control {
            font-size: 20px;
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        #btn-modal-remove {
            background-color: #0F7C9D;
        }

        #btn-modal-cancel {
            background-color: #BD2000;
        }

        .button-modal-group {
            margin-left: 280px;
        }

        .form-modal-label {
            font-size: 20px;
        }

        /*    pagination style   */
        .paging-style {
            min-height: 30px;
            min-width: 30px;
            text-align: center;
            padding-top: 3px;
            text-decoration: none;
        }

        .paging-number-style {
            margin: 0 10px;
            background-color: white;
            border: solid 1px #0F7C9D;
            border-radius: 50%;
            color: #0F7C9D;
        }

        .paging-number-style:hover {
            background-color: #0F7C9D;
            color: white;
        }

        .current-paging-number-style {
            background-color: #0F7C9D;
            color: white;
            border-radius: 50%;
        }

        .paging-text-style {
            margin: 0 5px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #0F7C9D;
            border-radius: 10%;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
            color: white;
        }

        .paging-text-style:hover {
            background-color: white;
            border: solid 1px #0F7C9D;
            color: #0F7C9D;
        }
    </style>
</head>

<body>
<div class="d-flex ">

    <!-- ---------------------------navbar--------------------------- -->
    <div th:replace="~{fragments/MyNavbar :: menu}">
    </div>


    <!-- -----------------------------------------------body------------------------------------------------------- -->
    <div class="main-section ">
        <div class="container">
            <!-- ------------------------------------Sub navbar  ------------------------ -->
            <div th:replace="~{fragments/MyNavbar :: navProfile}"></div>

            <!--          ----------------------------------------main body--------------------------------------------------->

            <div style="max-width: 500px">
                <h1 class="animate__animated animate__fadeIn" style="font-weight: 600;">Student Management</h1>
            </div>
<!--            <P th:text="${#httpServletRequest.requestURI}"></P>-->
<!--            <p th:text="${param.page}"></p>-->
<!--            <p th:text="${param.search}"></p>-->
            <!--             +++++++++++++++++++++ Main Code here ++++++++++++++++++++++++++++++  -->
            <div class="row">
                <div class="col-11">
                    <!-- ---------------Control---------------------------- -->
                    <div class="control d-flex justify-content-between mt-2 mb-4 animate__animated animate__flipInX animate__delay-0.7s">
                        <form action="">
                            <select class="class-dropdown" name="classroom" id="classroom"
                                    onchange="selectClassroom()"
                            >
                                <option value="">All Student</option>
                                <option th:each="classRoom: ${allClassRoom}"
                                        th:text="${classRoom.getClassroom().getClassName()}"
                                        th:value="${classRoom.getClassroom().getId()}"
                                        th:selected="${classRoom.getClassroom().getId() == indexClass}"
                                >
                                </option>
                            </select>
                        </form>
                        <!-- -----------Search----------------- -->
                        <div class="search-box d-flex align-items-center">
                            <form th:action="@{${#httpServletRequest.requestURI}}">
                                <input type="hidden" name="page"  th:value="${paging.getPage()}" />
                                <input onchange="styleSearch()"
                                        type="text" name="search" id="text-search"
                                       th:value="${textSearch}"
                                       class="text-search" placeholder="search ... "/>

                                <button id="btn-search" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <!-- ---------------------------------------------------- -->
                    <!--   -------------Table------------- -->
                    <table class="student-table my-3 " style="width:100%">
                        <tr>
                            <th class="ps-3 column1">No</th>
                            <th class="column2">Profile</th>
                            <th class="column3" style="text-align: center" >Full Name</th>
                            <th class="column4" style="text-align: center" >Student ID</th>
                            <th class="column5" style="text-align: center" >Email</th>
                            <th class="column6">Gender</th>
                            <th class="pe-3 column7">Actions</th>
                        </tr>
                        <tr th:each="student, i : ${Students}">
                            <td class="ps-3" th:text="${i.index+1}"></td>
                            <td class="column2">
                                <img class="rounded-circle"
                                     th:src="${student.getProfileImg()==null || student.getProfileImg()=='default.png'
                                     || student.getProfileImg()==''}
                                     ? '/images/student.png' : ${student.getProfileImg()} "
                                     width="40px"
                                     height="40px" alt="pic"/>
                            </td>
                            <td th:text="${student.getFullName()}" class="column3" style="padding-left: 30px"></td>
                            <td th:text="${student.getId()}" class="column4"></td>
                            <td th:text="${student.getEmail()}" class="column5" style="padding-left: 50px"></td>
                            <td th:text="${student.getGender()}" class="column6"></td>
                            <td class="column7 pe-3">
                                <a th:href="@{/dashboard/student/{id}/update(id=${student.getId()})}">
                                    <button class="table-button button-update ">update</button>
                                </a>
                                <button class="table-button button-remove"
                                        data-bs-toggle="modal"
                                        data-bs-target="#myModalRemove"
                                        th:attrappend="data-bs-target=${student.getId()}"
                                >remove
                                </button>
                                <!--                                 ----------- Modal------------->
                                <div class="modal fade " id="myModalRemove" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true"
                                     th:attrappend="id=${student.getId()}">
                                    <div style="max-width: 700px; " class=" modal-dialog modal-dialog-centered ">
                                        <div style="border-radius: 20px !important;" class=" modal-content py-4">
                                            <div class="modal-title my-2">
                                                <h1 style="font-weight: 600;">Remove Student</h1>
                                                <h5>Are you sure you want to remove?</h5>
                                            </div>
                                            <!-- ---------------- information ----------------------- -->
                                            <div class="pt-3">
                                                <div class="d-flex align-items-center justify-content-center  my-3">
                                                    <div style="width: 150px;">
                                                        <label for="fullname" class="form-modal-label ">Full
                                                            name</label>
                                                    </div>
                                                    <div>
                                                        <input type="text" readonly
                                                               class="form-control modal-textbox"
                                                               id="fullname"
                                                               th:value="${student.getFullName()}"
                                                        >
                                                    </div>
                                                </div>
                                                <!-- --------------------- Gender ---------------------->
                                                <div class="d-flex align-items-center justify-content-center my-3">
                                                    <div style="width: 150px;">
                                                        <label for="gender" class="form-modal-label ">Gender</label>
                                                    </div>

                                                    <div>
                                                        <input type="text" readonly
                                                               class="form-control modal-textbox"
                                                               id="gender"
                                                               th:value="${student.getGender()}">
                                                    </div>
                                                </div>
                                                <div class="button-modal-group d-flex align-items-center my-2">
                                                    <a th:href="@{/dashboard/student/management/{studentId}/delete(studentId=${student.getId()})}">
                                                        <button type="submit" class="button-form-control me-3"
                                                                id="btn-modal-remove">Remove
                                                        </button>
                                                    </a>
                                                    <button class="button-form-control" id="btn-modal-cancel"
                                                            data-bs-dismiss="modal">Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </table>
                    <!--  ----------Pagination ---------------->
                    <div class="py-3" th:if="${paging.totalPages}>1">

                        <!--  show pagination number -->
                        <div class="d-flex justify-content-center align-item-center">
                            <!--   first-->
                            <a class="paging-style paging-text-style"
                               th:href="@{${#httpServletRequest.requestURI}(page=1,search=${textSearch})}">First</a>
                            <!--  previous-->
                            <a class="paging-style paging-text-style"
                               th:href="@{${#httpServletRequest.requestURI}(page=${paging.previousPage},search=${textSearch})}">Previous</a>
                            <a th:each="i: ${#numbers.sequence(paging.startPage, paging.endPage)}"
                               class="paging-style paging-number-style num-page"
                               th:href="@{${#httpServletRequest.requestURI}(page=${i},search=${textSearch})}" th:text="${i}"
                            ></a>
                            <!--   Next-->
                            <a class="paging-style paging-text-style "
                               th:href="@{${#httpServletRequest.requestURI}(page=${paging.nextPage},search=${textSearch})}">Next</a>
                            <!--  Last-->
                            <a class="paging-style paging-text-style"
                               th:href="@{${#httpServletRequest.requestURI}(page=${paging.totalPages},search=${textSearch})}">Last</a>
                        </div>
                    </div>
                    <!--  end pagination-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--            --------------------------------------------------------------------------------------------------------------->


<script th:inline="javascript">
    let classroom = document.getElementById("classroom");
    let btnRemoveStudent = document.getElementsByClassName("button-remove");
    let genID = [[${genIdStatus}]]
    let genStatus = [[${genStatus}]];
    let i = 0;
    console.log("gen status:", genStatus)
    console.log(genID)
    if (genStatus === 0) {
        for (i = 0; i < btnRemoveStudent.length; i++) {
            btnRemoveStudent[i].setAttribute("disabled", "disabled");
            btnRemoveStudent[i].style.backgroundColor = "#de9080";
        }
    }

    function selectClassroom() {
        let value = classroom.options[classroom.selectedIndex].value;
        console.log("classroom: ", value);

        if (genStatus === 1) {
            if (value === "") {
                window.location = `/dashboard/student`;
                classroom.options[0].setAttribute("selected", "selected");
            } else {
                window.location = `/dashboard/student/${value}`;
                // window.location = `/dashboard/student/management/filter?classId=${value}`;
            }
        } else {
            if (value === "") {
                window.location = `/dashboard/generation/${genID}/view/student`;
                classroom.options[0].setAttribute("selected", "selected");
            } else {
                window.location = `/dashboard/generation/${genID}/view/student/${value}`;
                // window.location = `/dashboard/student/management/filter?classId=${value}`;
            }
        }
    }

    //  --------------- pagination custom---------------------->
    let numPage = document.getElementsByClassName("num-page");
    let j;
    let param = [[${param.page}]][0].toString();
    // console.log(numPage[0].id);
    console.log("param: ",param)

    for(j=0; j<numPage.length; j++){
        if((numPage[j].innerHTML)===(param)){
            // console.log("true")
            numPage[j].classList.add("current-paging-number-style");
            // console.log(numPage[i])
        }
        else {
            // console.log("false")
            // numPage[j].classList.add("paging-number-style");
            // console.log(numPage[j])
        }
    }

    function styleSearch(){
        document.getElementById("text-search").style.border = "none";
    }
    //  --------------- end pagination custom---------------------->

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>