<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Teacher Registration</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" th:href="@{/css/navbar-style.css}"/>

    <style>

        .data-input {
            padding: 8px;
            margin: 10px 0 10px 0;
            border-radius: 10px;
        }

        .data-choose {
            padding: 8px;
            margin: 10px 0 10px 0;
        }

        .button-form-control {
            font-size: 13px;
            padding: 5px 20px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        #btn-create {
            background-color: #0F7C9D;
        }

        #btn-cancel {
            background-color: crimson;
        }

        .warning-username {
            border-color: #BD2000;
        }

        /* --------------- modal style-------------------- */
        .modal-title {
            text-align: center;
            color: #0F7C9D;
        }

        .button-form-control {
            font-size: 15px;
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        #btn-modal-cancel-register {
            background-color: #0F7C9D;
        }

        #btn-modal-back {
            background-color: #BD2000;
        }

    </style>
</head>

<body>
<div class="d-flex ">

    <!-- ---------------------------navbar--------------------------- -->
    <div th:replace="~{fragments/MyNavbar :: menu}">
    </div>


    <!-- -----------------------------------------------body------------------------------------------------------- -->
    <div class="main-section ">
        <div class="container">
            <!-- ------------------------------------Sub navbar  ------------------------ -->
            <div th:replace="~{fragments/MyNavbar :: navProfile}"></div>

            <!-- ----------------------------------------main body--------------------------------------------------->

            <h1 class="animate__animated animate__bounceInDown" style="font-weight: 600">Add New Teacher</h1>
            <!--             +++++++++++++++++++++ Main Code here ++++++++++++++++++++++++++++++  -->
            <div class="mt-5 m-auto w-75 animate__animated animate__bounceInUp">
                <!-- --------------------------Profile information frame---------------------- -->
                <form onsubmit="return validateForm();" class="" th:action="@{/dashboard/teacher/register}"
                      method="post" enctype="multipart/form-data">
                    <div class="row">

                        <div class="col-3 me-3">
                            <div style="width: 200px; ">
                                <label for="file" style="cursor: pointer;">
                                    <img id="output"
                                         class="rounded"
                                         th:src="@{/images/teacher.png}"
                                         alt="photo" width="100%">
                                </label>
                                <input type="file" accept="image/*" name="file" id="file"
                                       onchange="loadFile(event)" style="display: none;">
                            </div>
                        </div>

                        <div class="col-4 ">
                            <div class="">
                                <input type="text" class="form-control data-input "
                                       name="fullName"
                                       th:value="${teacher.getFullName()}"
                                       id="teacher-fullName" placeholder="Full Name">
                                <small id="fullName-msg" style="color:#BD2000; display: none">invalid input</small>
                            </div>
                            <div class="">
                                <input type="email" class="form-control data-input"
                                       name="email"
                                       th:value="${teacher.getEmail()}"
                                       id="email" placeholder="Email"
                                >
                                <small id="email-msg" style="color:#BD2000; display: none">invalid input</small>
                            </div>
                            <div class="">
                                <input type="password" class="form-control data-input"
                                       id="password" placeholder="Password">
                                <small id="password-msg" style="color:#BD2000; display: none">invalid input</small>
                            </div>
                            <!-- -------------------button----------------- -->
                            <button type="submit" class="button-form-control me-3" id="btn-create">Create account
                            </button>
                            <button class="button-form-control"
                                    id="btn-cancel"
                                    data-bs-toggle="modal"
                                    data-bs-target="#myModalRemove"
                            >Cancel
                            </button>
                        </div>

                        <div class="col-4 ">
                            <div class="">
                                <input type="text"
                                       onchange="clearWarningStyle()"
                                       class="form-control data-input"
                                       th:value="${teacher.getUsername()}"
                                       name="username"
                                       id="username" placeholder="username">
                                <small id="username-msg" style="color:#BD2000; display: none">invalid input</small>
                            </div>
                            <div class="">
                                <select name="gender" class="form-select data-choose" id="gender">
                                    <option th:selected th:value="Male">Male</option>
                                    <option th:value="Female">Female</option>
                                </select>
                            </div>
                            <div class="">
                                <input type="password" class="form-control data-input"
                                       name="password"
                                       id="confirm-password" placeholder="Confirm Password">
                                <small id="confirm-msg" style="color:#BD2000; display: none">invalid input</small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!---------------------------------------------------------------------------------------------------------------->
    </div>
</div>

<!--------------------modal----------------------------->
<div class="modal fade " id="myModalRemove" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
>
    <div style="max-width: 500px; " class=" modal-dialog modal-dialog-centered ">
        <div style="border-radius: 20px !important;" class=" modal-content py-4">
            <div class="modal-title my-2">
                <h2 style="font-weight: 600;">REGISTRATION</h2>
                <h5>Are you sure you want to cancel?</h5>
            </div>
            <!-- ---------------- information ----------------------- -->
            <div class="w-75 p-3 m-auto">
                <div class="d-flex justify-content-between align-items-center my-2">
                    <a th:href="@{/dashboard/teacher/management}">
                        <button type="submit" class="button-form-control "
                                id="btn-modal-cancel-register">Cancel Register
                        </button>
                    </a>
                    <button class="button-form-control" id="btn-modal-back"
                            data-bs-dismiss="modal">Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!--    custom script -->
<script th:inline="javascript">


    //  ---------------- check username --------------------------------

    let teacherUsername = [[${teacher.getUsername()}]];

    console.log(teacherUsername);
    if (teacherUsername != null) {
        document.getElementById("username-msg").style.display = "block";
        document.getElementById("username-msg").innerHTML = "* this username is already exists";
        document.getElementById("username").classList.add("warning-username");
    } else {
        document.getElementById("username-msg").style.display = "none";
    }

    function clearWarningStyle(){
        document.getElementById("username-msg").style.display = "none";
        document.getElementById("username").classList.remove("warning-username");
    }
    //--------------------------- end check username ----------------------

    //------------------- Prevent Reload Page ----------------------
    let btnCancel = document.getElementById("btn-cancel");

    btnCancel.onclick = (e) => {
        e.preventDefault();
    }

    // --------------------------Validate Form-------------------->
    const latterOnlyPattern = /^[a-zA-Z ]*$/;
    const noSpacePattern = /^[^\s^\.^\s]+$/;
    const noSpecialCharacter = /^[A-Za-z0-9 ]+$/;
    const validEmail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

    function validateForm() {

        let fullName = document.getElementById("teacher-fullName");
        let username = document.getElementById("username");
        let email = document.getElementById("email");
        let password = document.getElementById("password");
        let confirm = document.getElementById("confirm-password");

        if (fullName.value === "") {
            document.getElementById("fullName-msg").style.display = "block";
            document.getElementById("fullName-msg").innerHTML = "* Fullname can not be empty";
            return false;
        } else {
            document.getElementById("fullName-msg").style.display = "none";
        }
        if (!isNaN(fullName.value)) {
            document.getElementById("fullName-msg").style.display = "block";
            document.getElementById("fullName-msg").innerHTML = "* Fullname can not be number";
            return false;
        } else {
            document.getElementById("fullName-msg").style.display = "none";
        }
        if (!latterOnlyPattern.test(fullName.value)) {
            document.getElementById("fullName-msg").style.display = "block";
            document.getElementById("fullName-msg").innerHTML = "* can not contain number or special characters";
            return false;
        } else {
            document.getElementById("fullName-msg").style.display = "none";
        }
        //------------ username---------------
        if (username.value === "") {
            document.getElementById("username-msg").style.display = "block";
            document.getElementById("username-msg").innerHTML = "* username can not be empty";
            return false;
        } else {
            document.getElementById("username-msg").style.display = "none";
        }
        if (!noSpacePattern.test(username.value)) {
            document.getElementById("username-msg").style.display = "block";
            document.getElementById("username-msg").innerHTML = "* username can not contain whitespace";
            return false;
        } else {
            document.getElementById("username-msg").style.display = "none";
        }
        if (!noSpecialCharacter.test(username.value)) {
            document.getElementById("username-msg").style.display = "block";
            document.getElementById("username-msg").innerHTML = "* username can not contain special character";
            return false;
        } else {
            document.getElementById("username-msg").style.display = "none";
        }
        if (!isNaN(username.value)) {
            document.getElementById("username-msg").style.display = "block";
            document.getElementById("username-msg").innerHTML = "* username can not be number";
            return false;
        } else {
            document.getElementById("username-msg").style.display = "none";
        }
        //---------------email ----------------------------
        if (email.value === "") {
            document.getElementById("email-msg").style.display = "block";
            document.getElementById("email-msg").innerHTML = "* email can not be empty";
            return false;
        } else {
            document.getElementById("email-msg").style.display = "none";
        }
        if (!validEmail.test(email.value)) {
            document.getElementById("email-msg").style.display = "block";
            document.getElementById("email-msg").innerHTML = "* invalid email";
            return false;
        } else {
            document.getElementById("email-msg").style.display = "none";
        }
        //---------------password--------------------------
        if (password.value === "") {
            document.getElementById("password-msg").style.display = "block";
            document.getElementById("password-msg").innerHTML = "* password field can not be empty";
            return false;
        } else {
            document.getElementById("password-msg").style.display = "none";
        }
        if (password.value.length < 6) {
            document.getElementById("password-msg").style.display = "block";
            document.getElementById("password-msg").innerHTML = "*Password length must be at least 6 characters";
        } else {
            document.getElementById("password-msg").style.display = "none";
        }

        if (confirm.value === "") {
            document.getElementById("confirm-msg").style.display = "block";
            document.getElementById("confirm-msg").innerHTML = "* password field can not be empty";
            return false;
        } else {
            document.getElementById("confirm-msg").style.display = "none";
        }
        if ((password.value) !== (confirm.value)) {
            document.getElementById("confirm-msg").style.display = "block";
            document.getElementById("confirm-msg").innerHTML = "* password dose not match! ";
            return false;
        } else {
            return true;
        }
    }


    //------------ for upload file by click on label ---------------------
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    //--------------------------------------------------------------------
</script>

</body>

</html>