<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Teacher Profile</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--------------------    Navbar style (thymeleaf)------------------->
    <link rel="stylesheet" th:href="@{/css/navbar-style.css}"/>
    <link rel="stylesheet" th:href="@{/css/demo_calendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/theme1.css}"/>
    <link rel="stylesheet" th:href="@{/css/my-time.css}"/>
    <style>

        .table-button {
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        .button-remove {
            background-color: crimson;
        }

        .teacher-table tr:hover {
            padding: 5px;
            border-radius: 20px;
            background-color: #f1f1f1;
        }


        .profile-info {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            background-color: white;
            padding: 20px 20px 45px 20px;
        }

        #btn-edit {
            background-color: #0F7C9D;
            padding: 5px 10px;
            margin-right: 13px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        #back i {
            font-size: 35px;
            color: #0F7C9D;
        }

        .data-input {
            width: 300px;
            padding: 5px;
            margin: 0 0 10px 0;
        }

        .data-choose {
            width: 100px;
            padding: 5px;
            margin: 0 0 10px 0;
        }

        .button-form-control {
            font-size: 13px;
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        #btn-change-teacher {
            background-color: #0F7C9D;
        }

.warning-username{
    border-color: #BD2000;
}
        .utiliy-section {
            margin: 0 0 0 120px;
        }

        /* --------------- modal style-------------------- */
        .modal-title {
            text-align: center;
            color: #0F7C9D;
        }

        .modal-textbox {
            width: 280px;
            padding: 5px 20px;
            font-size: 20px;
            /* margin: 0 0 10px 0; */
            border-radius: 10px;
            background-color: #f1f1f1;
        }

        .button-form-control {
            font-size: 15px;
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        #btn-modal-remove {
            background-color: #0F7C9D;
        }

        #btn-modal-cancel {
            background-color: #BD2000;
        }

        .button-modal-group {
            margin-left: 150px;
        }

        .form-modal-label {
            font-size: 20px;
        }
    </style>
</head>

<body>
<div class="d-flex ">

    <!-- ---------------------------navbar--------------------------- -->
    <div th:replace="~{fragments/MyNavbar :: menu}">
    </div>


    <!-- -----------------------------------------------body------------------------------------------------------- -->
    <div class="main-section ">
        <div class="container">
            <!-- ------------------------------------Sub navbar  ------------------------ -->
            <div th:replace="~{fragments/MyNavbar :: navProfile}"></div>

            <!-- ----------------------------------------main body--------------------------------------------------->
            <div style="max-width: 500px">
                <h1 class="animate__animated animate__bounceInDown" style="font-weight: 600">Teacher Profile</h1>
            </div>
            <!--             +++++++++++++++++++++ Main Code here ++++++++++++++++++++++++++++++  -->
            <div class="d-flex pt-4">
                <!-- --------------------------Profile information frame---------------------- -->
                <div>
                    <div class="profile-info animate__animated animate__backInLeft">
                        <div class="d-flex justify-content-between">
                            <a id="back" th:href="@{/dashboard/teacher/management}"><i
                                    class="fas fa-chevron-circle-left"></i></a>
                            <button id="btn-edit" onclick="editInformationTeacher()">Edit Info</button>
                        </div>
                        <form onsubmit="return teacherValidate()" th:action="@{/dashboard/teacher/{id}/updating(id=${teacherUpdate.getId()})}" method="post">
                        <div class="d-flex mt-3">
                            <!-- ----------photo---------- -->
                            <div>
                                <div style="width: 200px; ">
                                    <label for="file" style="cursor: pointer;">
                                        <img id="output"
                                             class="rounded"
                                             th:src="${teacherUpdate.getProfileImg()==null || teacherUpdate.getProfileImg()=='default.png'
                                     || teacherUpdate.getProfileImg()==''}
                                     ? '/images/teacher.png' : ${teacherUpdate.getProfileImg()} "
                                             alt="photo" width="100%">
                                    </label>
                                    <input type="file" accept="image/*" name="file" id="file"
                                           onchange="loadFile(event)" style="display: none;">
                                </div>
                            </div>
                            <!-- --------------------------form area------------------------------- -->
                            <div style=" width: 500px;" class="pt-3">
                                <!-- -------------form-------------- -->
                                <div class="row g-3">
                                    <!-- ----------- fullname--------- -->
                                    <div class="d-flex align-items-center ms-5 my-0">
                                        <div style="width: 90px;">
                                            <label for="teacher-fullName" class="form-label ">Full name</label>
                                        </div>
                                        <div class="ms-5">
                                            <input type="text"
                                                   class="form-control data-input"
                                                   id="teacher-fullName"
                                                   name="fullName"
                                                   th:value="${teacherUpdate.getFullName()}" required>
                                            <small id="fullName-msg" style="color:#BD2000; display: none">invalid
                                                input</small>
                                        </div>
                                    </div>
                                    <!--  ------------ username--------- -->
                                    <div class="d-flex align-items-center ms-5 my-0">
                                        <div style="width: 90px;">
                                            <label for="username" class="form-label ">Username</label>
                                        </div>
                                        <div class="ms-5">
                                            <input type="text" onchange="clearWarningStyle()"
                                                   class="form-control data-input"
                                                   id="username"
                                                   name="username"
                                                   th:value="${teacherUpdate.getUsername()}"
                                                   required
                                            >
                                            <small id="username-msg" style="color:#BD2000; display: none">invalid
                                                input</small>
                                        </div>
                                    </div>
                                    <!-- -------------------email-------------- -->
                                    <div class="d-flex align-items-center ms-5 my-0">
                                        <div style="width: 90px;">
                                            <label for="email" class="form-label ">Email</label>
                                        </div>
                                        <div class="ms-5">
                                            <input type="email" class="form-control data-input"
                                                   id="email"
                                                   name="email"
                                                   th:value="${teacherUpdate.getEmail()}"
                                                   required
                                            >
                                            <small id="email-msg" style="color:#BD2000; display: none">invalid
                                                input</small>
                                        </div>
                                    </div>
                                    <!-- ------------------ gender------------------->
                                    <div class="d-flex align-items-center ms-5 my-0">
                                        <div style="width: 90px;">
                                            <label for="gender" class="form-label ">Gender</label>
                                        </div>
                                        <div class="ms-5">
                                            <select class="form-select data-choose"
                                                    id="gender"
                                                    name="gender"

                                            >
                                                <option th:selected="${teacherUpdate.getGender()}=='Male'"
                                                        th:value="Male">Male
                                                </option>
                                                <option th:selected="${teacherUpdate.getGender()}=='Female'"
                                                        th:value="Female">Female
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--       ------- button -------------->
                                    <div class="d-flex align-items-center ms-5 mt-4">
                                        <div style="width: 140px;">
                                            <button type="submit"
                                                    class="button-form-control"
                                                    id="btn-change-teacher"
                                                    onclick="viewOnly()"
                                            >Save Change
                                            </button>
                                        </div>
                                        <div class="">
                                            <button class="table-button button-remove"
                                                    id="btn-remove-teacher"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#myModalRemove"
                                                    th:attrappend="data-bs-target=${teacherUpdate.getId()}">
                                                Remove
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        </form>
                    </div>
                </div>
                <!-- -------------------- utility section----------------- -->
                <div class="utiliy-section">
                    <div th:replace="~{fragments/Utility :: dateAndTime}"></div>
                </div>
            </div>

        </div>
        <!--            --------------------------------------------------------------------------------------------------------------->
    </div>
</div>

<!--------------------modal----------------------------->
<div class="modal fade " id="myModalRemove" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
     th:attrappend="id=${teacherUpdate.getId()}">
    <div style="max-width: 700px; " class=" modal-dialog modal-dialog-centered ">
        <div style="border-radius: 20px !important;" class=" modal-content py-4">
            <div class="modal-title my-2">
                <h1 style="font-weight: 600;">Remove Teacher</h1>
                <h5>Are you sure you want to remove?</h5>
            </div>
            <!-- ---------------- information ----------------------- -->
            <div class="pt-3">
                <div class="d-flex align-items-center justify-content-center  my-3">
                    <div style="width: 150px;">
                        <label for="modal-fullName" class="form-modal-label ">Full
                            name</label>
                    </div>
                    <div>
                        <input type="text" readonly
                               class="form-control modal-textbox"
                               id="modal-fullname"
                               th:value="${teacherUpdate.getFullName()}"
                        >
                    </div>
                </div>
                <!-- --------------------- Gender ---------------------->
                <div class="d-flex align-items-center justify-content-center my-3">
                    <div style="width: 150px;">
                        <label for="modal-gender" class="form-modal-label ">Gender</label>
                    </div>

                    <div>
                        <input type="text" readonly
                               class="form-control modal-textbox"
                               id="modal-gender"
                               th:value="${teacherUpdate.getGender()}">
                    </div>
                </div>
                <div class="button-modal-group d-flex align-items-center my-2">
                    <a th:href="@{/dashboard/teacher/management/{id}/delete(id=${teacherUpdate.getId()})}">
                        <button type="submit" class="button-form-control me-3"
                                id="btn-modal-remove">Remove
                        </button>
                    </a>
                    <button class="button-form-control" id="btn-modal-cancel"
                            data-bs-dismiss="modal">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!-- -----------calendar-------------- -->
<script type="text/javascript" th:src="@{/js/caleandar.js}"></script>
<script type="text/javascript" th:src="@{/js/demo_calendar.js}"></script>
<!---------------time-------------------->
<script type="text/javascript" th:src="@{/js/my-time.js}"></script>


<script th:inline="javascript">

    let btnRemoveTeacher = document.getElementById("btn-remove-teacher");
    let btnSaveTeacher = document.getElementById("btn-change-teacher");
    let fullName = document.getElementById("teacher-fullName");
    let username = document.getElementById("username");
    let email = document.getElementById("email");
    let gender = document.getElementById("gender");

    btnSaveTeacher.setAttribute("disabled", "disabled");
    btnSaveTeacher.style.backgroundColor = "#6fb0c4";

    //  ---------------- check username --------------------------------

    let alreadyTeacherUsername = [[${checkUsername}]];
    //
    console.log(alreadyTeacherUsername);
    if (alreadyTeacherUsername===2) {
        document.getElementById("username-msg").style.display = "block";
        document.getElementById("username-msg").innerHTML = "* this username is already exists";
        document.getElementById("username").classList.add("warning-username");
    } else {
        document.getElementById("username-msg").style.display = "none";
    }

    function clearWarningStyle(){
        document.getElementById("username-msg").style.display = "none";
        document.getElementById("username").classList.remove("warning-username");
    }

    // --------------------------Validate Form-------------------->
    const latterOnlyPattern = /^[a-zA-Z ]*$/;
    const noSpacePattern = /^[^\s^\.^\s]+$/;
    const noSpecialCharacter = /^[A-Za-z0-9 ]+$/;
    const validEmail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;


    //----------- Initialize style for input --------------------
    fullName.style.backgroundColor = "#ffff";
    username.style.backgroundColor = "#ffff";
    email.style.backgroundColor = "#ffff";
    gender.style.backgroundColor = "#ffff";

    fullName.style.border = "none";
    username.style.border = "none";
    email.style.border = "none";
    gender.style.border = "none";

    fullName.setAttribute("readOnly", "true");
    username.setAttribute("readOnly", "true");
    email.setAttribute("readOnly", "true");
    gender.setAttribute("disabled", "disabled");

    btnRemoveTeacher.onclick = (e) => {
        e.preventDefault();
    }


    if(alreadyTeacherUsername===2){
        btnSaveTeacher.removeAttribute("disabled");
        btnSaveTeacher.style.backgroundColor = "#0F7C9D";

        btnRemoveTeacher.setAttribute("disabled", "disabled");
        btnRemoveTeacher.style.backgroundColor = "#de9080";

        fullName.style.border = "1px solid #ACACAC";
        username.style.border = "1px solid #ACACAC";
        email.style.border = "1px solid #ACACAC";
        gender.style.border = "1px solid #ACACAC";

        fullName.removeAttribute("readOnly");
        username.removeAttribute("readOnly");
        email.removeAttribute("readOnly");
        gender.removeAttribute("disabled");
    }



    function editInformationTeacher() {
        btnSaveTeacher.removeAttribute("disabled");
        btnSaveTeacher.style.backgroundColor = "#0F7C9D";

        btnRemoveTeacher.setAttribute("disabled", "disabled");
        btnRemoveTeacher.style.backgroundColor = "#de9080";

        fullName.style.border = "1px solid #ACACAC";
        username.style.border = "1px solid #ACACAC";
        email.style.border = "1px solid #ACACAC";
        gender.style.border = "1px solid #ACACAC";

        fullName.removeAttribute("readOnly");
        username.removeAttribute("readOnly");
        email.removeAttribute("readOnly");
        gender.removeAttribute("disabled");

    }

    function teacherValidate() {

        if (fullName.value === "") {
            document.getElementById("fullName-msg").style.display = "block";
            document.getElementById("fullName-msg").innerHTML = "* Fullname can not be empty";
            return false;
        } else {
            document.getElementById("fullName-msg").style.display = "none";
        }
        if (!isNaN(fullName.value)) {
            document.getElementById("fullName-msg").style.display = "block";
            document.getElementById("fullName-msg").innerHTML = "* Fullname can not be number";
            return false;
        } else {
            document.getElementById("fullName-msg").style.display = "none";
        }
        if (!latterOnlyPattern.test(fullName.value)) {
            document.getElementById("fullName-msg").style.display = "block";
            document.getElementById("fullName-msg").innerHTML = "* can not contain number or special characters";
            return false;
        } else {
            document.getElementById("fullName-msg").style.display = "none";
        }
        //------------ username---------------
        if (username.value === "") {
            document.getElementById("username-msg").style.display = "block";
            document.getElementById("username-msg").innerHTML = "* username can not be empty";
            return false;
        } else {
            document.getElementById("username-msg").style.display = "none";
        }
        if (!noSpacePattern.test(username.value)) {
            document.getElementById("username-msg").style.display = "block";
            document.getElementById("username-msg").innerHTML = "* username can not contain whitespace";
            return false;
        } else {
            document.getElementById("username-msg").style.display = "none";
        }
        if (!noSpecialCharacter.test(username.value)) {
            document.getElementById("username-msg").style.display = "block";
            document.getElementById("username-msg").innerHTML = "* username can not contain special character";
            return false;
        } else {
            document.getElementById("username-msg").style.display = "none";
        }
        if (!isNaN(username.value)) {
            document.getElementById("username-msg").style.display = "block";
            document.getElementById("username-msg").innerHTML = "* username can not be number";
            return false;
        } else {
            document.getElementById("username-msg").style.display = "none";
        }
        //---------------email ----------------------------
        if (email.value === "") {
            document.getElementById("email-msg").style.display = "block";
            document.getElementById("email-msg").innerHTML = "* email can not be empty";
            return false;
        } else {
            document.getElementById("email-msg").style.display = "none";
        }
        if (!validEmail.test(email.value)) {
            document.getElementById("email-msg").style.display = "block";
            document.getElementById("email-msg").innerHTML = "* invalid email";
            return false;
        }
        else {
            return true;
        }
    }

    //------------ for upload file by click on label ---------------------
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    //--------------------------------------------------------------------
</script>

</body>

</html>