<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" th:href="@{/css/navbar-style.css}"/>

    <style>

        .table-button {
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        .button-update {
            background-color: #0F7C9D;
        }

        .button-remove {
            background-color: crimson;
        }

        .teacher-table {
            background-color: white;
            border-radius: 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .teacher-table th {
            padding: 15px 10px;
            color: #0F7C9D;
        }

        .teacher-table td {
            overflow: hidden;
            padding: 10px 10px;
        }

        .column1 {
            max-width: 80px;
        }

        .column2 {
            /*padding-left: 10px;*/
            max-width: 60px;
        }

        .column3 {
        }

        .column4 {
            min-width: 120px;
        }

        .column5 {
        }

        .column6 {
            width: 100px;
            text-align: center;
        }

        .column7 {
            width: 200px;
            text-align: center;
        }

        .teacher-table tr:hover {
            padding: 5px;
            border-radius: 20px;
            background-color: #f1f1f1;
        }

        .button-add {
            padding: 6px 15px;
            border: none;
            border-radius: 30px;
            background-color: #0F7C9D;
            color: white;
            font-weight: 300;
        }

        /*----------------search style------------------*/
        .search-box {
            height: 35px;
            border-radius: 20px;
            background-color: white;
            padding: 0 20px;
            color: darkgray;
            font-size: 17px;
        }

        .search-box i {
            font-size: 20px;
            color: #666666;
        }

        .search-box i:hover {
            font-size: 20px;
            color: #0F7C9D;
        }

        .text-search {
            height: 30px;
            width: 180px;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 20px;
        }

        #btn-search {
            background: none;
            border: none;
        }

        /* --------------- modal style-------------------- */
        .modal-title {
            text-align: center;
            color: #0F7C9D;
        }

        .modal-textbox {
            width: 280px;
            padding: 5px 20px;
            font-size: 20px;
            /* margin: 0 0 10px 0; */
            border-radius: 10px;
            background-color: #f1f1f1;
        }

        .button-form-control {
            font-size: 20px;
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        #btn-modal-remove {
            background-color: #0F7C9D;
        }

        #btn-modal-cancel {
            background-color: #BD2000;
        }

        .button-modal-group {
            margin-left: 280px;
        }

        .form-modal-label {
            font-size: 20px;
        }

        /*    pagination style   */
        .paging-style {
            min-height: 30px;
            min-width: 30px;
            text-align: center;
            padding-top: 3px;
            text-decoration: none;
        }

        .paging-number-style {
            margin: 0 10px;
            background-color: white;
            border: solid 1px #0F7C9D;
            border-radius: 50%;
            color: #0F7C9D;
        }

        .paging-number-style:hover {
            background-color: #0F7C9D;
            color: white;
        }

        .current-paging-number-style {
            margin: 0 10px;
            background-color: #0F7C9D;
            color: white;
            border-radius: 50%;
        }

        .paging-text-style {
            margin: 0 5px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #0F7C9D;
            border-radius: 10%;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
            color: white;
        }

        .paging-text-style:hover {
            background-color: white;
            border: solid 1px #0F7C9D;
            color: #0F7C9D;
        }
    </style>
</head>
<body>
<div class="d-flex ">

    <!-- ---------------------------navbar--------------------------- -->
    <div th:replace="~{fragments/MyNavbar :: menu}">
    </div>

    <!-- -----------------------------------------------body------------------------------------------------------- -->
    <div class="main-section ">
        <div class="container">
            <!-- ------------------------------------Sub navbar  ------------------------ -->
            <div th:replace="~{fragments/MyNavbar :: navProfile}"></div>

            <!-- ----------------------------------------main body--------------------------------------------------->
            <div style="max-width: 500px">
                <h1 class="animate__animated animate__fadeIn" style="font-weight: 600">Teacher Management</h1>
            </div>
            <!--             +++++++++++++++++++++ Main Code here ++++++++++++++++++++++++++++++  -->
            <div class="row">
                <div class="col-11">
                    <!-- ---------------Control---------------------------- -->
                    <div class="control d-flex justify-content-between mt-2 mb-4 animate__animated animate__flipInX animate__delay-0.7s">
                        <!-- -----------Search----------------- -->
                        <div class="search-box d-flex align-items-center">
                            <form action="/dashboard/teacher/management/">
                                <input type="hidden" name="page" th:value="${paging.getPage()}"/>
                                <input type="search" name="text"
                                       th:value="${textSearch}"
                                       class="text-search px-1" placeholder="search ... "/>
                                <button id="btn-search" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                        <a th:href="@{/dashboard/teacher/register}">
                            <button class="button-add"><i class="fas fa-plus"></i> Add Teacher</button>
                        </a>
                    </div>
                    <!-- ---------------------------------------------------- -->

                    <!--   -------------Table------------- -->
                    <table class="teacher-table my-3 " style="width:100%">
                        <tr>
                            <th class="ps-3 column1">No</th>
                            <th class="column2">Profile</th>
                            <th class="column3">Full Name</th>
                            <th class="column4">Username</th>
                            <th class="column5">Email</th>
                            <th class="column6">Gender</th>
                            <th class="pe-3 column7">Actions</th>
                        </tr>
                        <tr th:each="teacher, i : ${teachers}">
                            <td class="ps-3 column1" th:text="${i.index+1}"></td>
                            <td class="column2">
                                <img class="rounded-circle"
                                     th:src="${teacher.getProfileImg()==null || teacher.getProfileImg()=='default.png'
                                     || teacher.getProfileImg()==''}
                                     ? '/images/teacher.png' : ${teacher.getProfileImg()} "
                                     width="50px"
                                     height="50px" alt="pic"/>
                            </td>
                            <td id="fullnameTable" class="column3" th:text="${teacher.getFullName()}"></td>
                            <td class="column4" th:text="${teacher.getUsername()}"></td>
                            <td class="column5" th:text="${teacher.getEmail()}"></td>
                            <td class="column6" th:text="${teacher.getGender()}"></td>
                            <td class="pe-3 column7">
                                <a th:href="@{/dashboard/teacher/{id}/update(id=${teacher.getId()})}">
                                    <button class="table-button button-update ">update</button>
                                </a>
                                <button class="table-button button-remove"
                                        data-bs-toggle="modal"
                                        data-bs-target="#myModalRemove"
                                        th:attrappend="data-bs-target=${teacher.getId()}"
                                >remove
                                </button>
                                <!-- Modal -->
                                <div class="modal fade " id="myModalRemove" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true"
                                     th:attrappend="id=${teacher.getId()}">
                                    <div style="max-width: 700px; " class=" modal-dialog modal-dialog-centered ">
                                        <div style="border-radius: 20px !important;" class=" modal-content py-4">
                                            <div class="modal-title my-2">
                                                <h1 style="font-weight: 600;">Remove Teacher</h1>
                                                <h5>Are you sure you want to remove?</h5>
                                            </div>
                                            <!-- ---------------- information ----------------------- -->
                                            <div class="pt-3">
                                                <div class="d-flex align-items-center justify-content-center  my-3">
                                                    <div style="width: 150px;">
                                                        <label for="fullname" class="form-modal-label ">Full
                                                            name</label>
                                                    </div>
                                                    <div>
                                                        <input type="text" readonly
                                                               class="form-control modal-textbox"
                                                               id="fullname"
                                                               th:value="${teacher.getFullName()}"
                                                        >
                                                    </div>
                                                </div>
                                                <!-- --------------------- Gender ---------------------->
                                                <div class="d-flex align-items-center justify-content-center my-3">
                                                    <div style="width: 150px;">
                                                        <label for="gender" class="form-modal-label ">Gender</label>
                                                    </div>

                                                    <div>
                                                        <input type="text" readonly
                                                               class="form-control modal-textbox"
                                                               id="gender"
                                                               th:value="${teacher.getGender()}">
                                                    </div>
                                                </div>
                                                <div class="button-modal-group d-flex align-items-center my-2">
                                                    <a th:href="@{/dashboard/teacher/management/{id}/delete(id=${teacher.getId()})}">
                                                        <button type="submit" class="button-form-control me-3"
                                                                id="btn-modal-remove">Remove
                                                        </button>
                                                    </a>
                                                    <button class="button-form-control" id="btn-modal-cancel"
                                                            data-bs-dismiss="modal">Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--   -------------------------------  end of modal ---------------------------------->
                            </td>
                        </tr>

                    </table>
                    <!--  ----------Pagination ---------------->
                    <div class="py-3" th:if="${paging.totalPages}>1">
                        <!--  show pagination number -->
                        <div class="d-flex justify-content-center align-item-center">
                            <!--   first-->
                            <a class="paging-style paging-text-style"
                               th:href="@{${#httpServletRequest.requestURI}(page=1,search=${textSearch})}">First</a>
                            <!--  previous-->
                            <a class="paging-style paging-text-style"
                               th:href="@{${#httpServletRequest.requestURI}(page=${paging.previousPage},search=${textSearch})}">Previous</a>
                            <a th:each="i: ${#numbers.sequence(paging.startPage, paging.endPage)}"
                               class="paging-style paging-number-style num-page"
                               th:href="@{${#httpServletRequest.requestURI}(page=${i},search=${textSearch})}"
                               th:text="${i}"
                            ></a>
                            <!--   Next-->
                            <a class="paging-style paging-text-style "
                               th:href="@{${#httpServletRequest.requestURI}(page=${paging.nextPage},search=${textSearch})}">Next</a>
                            <!--  Last-->
                            <a class="paging-style paging-text-style"
                               th:href="@{${#httpServletRequest.requestURI}(page=${paging.totalPages},search=${textSearch})}">Last</a>
                        </div>
                    </div>
                    <!--  end pagination-->
                </div>
            </div>

            <!--            --------------------------------------------------------------------------------------------------------------->
        </div>
    </div>
</div>

<script th:inline="javascript">
    //  --------------- pagination custom---------------------->
    let numPage = document.getElementsByClassName("num-page");
    let i;
    let param;
    console.log("First param",param)
    if (param !== null) {
        param = [[${param.page}]][0].toString();
    }

    console.log("param: ", param)

    for (i = 0; i < numPage.length; i++) {
        if ((numPage[i].innerHTML) === (param)) {
            console.log("true")
            numPage[i].classList.add("current-paging-number-style");
            console.log(numPage[i])
        } else {
            console.log("false")
            // numPage[i].classList.add("paging-number-style");
            console.log(numPage[i])
        }
    }
    //  --------------- end pagination custom---------------------->

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html>