<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View Generaion</title>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="../css/modal.css">
    <!--    ++++++++++++++++++++ My Style -+++++++++++++++++++++++-->
    <link rel="stylesheet" th:href="@{/css/navbar-style.css}">
    <link rel="stylesheet" th:href="@{/css/demo_calendar.css}"/>
    <link rel="stylesheet" th:href="@{/css/theme1.css}"/>
    <link rel="stylesheet" th:href="@{/css/my-time.css}"/>
    <style>

        .class-and-student-box {
            width: 340px;
            height: 180x;
            border-radius: 20px;
            padding: 20px;
            font-size: 1.5rem;
            color: white;
            margin: 0 0 20px 0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .class-and-student-box i {
            font-size: 50px;
            /*color: linear-gradient(180deg, #FFFFFF 0%, rgba(230, 230, 230, 0.6) 28.13%, rgba(226, 226, 226, 0) 100%);*/
        }

        .class-and-student-box p {
            font-size: 20px;
            margin: 0;
        }

        .classwork-box-color {
            background: linear-gradient(226.94deg, rgba(206, 240, 255, 0.53) 0%, #57AABC 100%);
        }

        .student-box-color {
            background: linear-gradient(226.94deg, rgba(208, 206, 255, 0.53) 0%, #6E57BC 100%);
        }

        .disable-underline a {
            text-decoration: none;
        }

        .utiliy-section {
            margin: 24px 0 0 120px;

        }

        /* Generation section box */
        .gen-section-info {
            padding: 5px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;

        }

        .gen-name-data {
            border-bottom: solid #0F7C9D;
            background-color: #f1f1f1;
            width: 650px
        }

        .gen-text {
            font-weight: 600;
            margin: 0 0 0 10px;
        }

        .gen-text h2 {
            margin: 0;
            padding: 6px 0;
        }

        .gen-data-input {
            font-size: 30px;
            text-align: center;
            width: 100px;
            height: 50px;
            background-color: white;
            /*display: none;*/
        }

        .selected-font-style {
            font-size: 20px;
        }

        .btn-gen {
            padding: 5px 10px;
            font-size: 15px;
            color: white;
            border: #f1f1f1;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }

        #btn-save-gen {
            background: #0F7C9D;
        }

        #btn-cancel-gen {
            text-decoration: none;
            background-color: #BD2000;
        }

        #btn-cancel-gen:hover {
            text-decoration: none;
            color: white;
            background-color: #BD2000;
        }

        /* --------------- modal style-------------------- */
        #btn-modal-cancel-edit {
            background-color: #0F7C9D;
        }

        #btn-modal-back {
            background-color: #BD2000;
        }

        .modal-title {
            text-align: center;
            color: #0F7C9D;
        }


        .button-form-control {
            font-size: 15px;
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            color: white;
            font-weight: 300;
        }

        /* ---------------- generation modal style-----------------------   */
        .modal-input-gen {
            width: 80px;
            padding: 3px 10px;
            font-size: 1.2rem;
            border: 1px solid #ACACAC;
            border-radius: 10px;
        }

        .modal-select-gen {
            width: 180px;
            padding: 3px 10px;
            font-size: 1.2rem;
            border: 1px solid #ACACAC;
            border-radius: 10px;
        }

        .modal-label-gen {
            padding: 3px 0;
            font-size: 1.2rem;
        }

        .btn-modal-gen {
            font-size: 15px;
            padding: 5px 10px;
            border-color: white;
            border-radius: 7px;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
            color: white;
            font-weight: 300;
        }

        .btn-reject-color {
            background-color: #BD2000;
        }

        .btn-accept-color {
            background-color: #0F7C9D;
        }

        #back i {
            font-size: 35px;
            color: #0F7C9D;
        }

        #modal-remove-generation {
            background-color: #E2E2E2;
            color: black;
        }

        #modal-remove-gen-type {
            background-color: #E2E2E2;
            color: black;
        }

        #modal-remove-gen-status {
            background-color: #E2E2E2;
            color: black;
        }

    </style>
</head>

<body>
<div class="d-flex " style="width: 100vw;">

    <!-- ---------------------------navbar--------------------------- -->
    <div th:replace="~{fragments/MyNavbar :: menu}">
    </div>


    <!-- -----------------------------------------------body------------------------------------------------------- -->
    <div class="main-section ">
        <div class="container">
            <!-- ------------------------------------Sub navbar  ------------------------ -->
            <div th:replace="~{fragments/MyNavbar :: navProfile}"></div>
        </div>
        <!-- ---------------------------------------- Main task-------------------------- -->
        <div class="ms-5 ps-5">
            <h1 class="animate__animated animate__bounceInDown" style="font-weight: 600">Generation Information</h1>
            <div class="d-flex">
                <div>
                    <!-- -------------- Info Section ----------- -->
                    <div class="animate__animated animate__backInLeft mt-4" style=" width: 750px;">
                        <!-- -----------Generation Info------------ -->
                        <div class=" gen-section-info">
                            <!--  option button -->
                            <div class="d-flex justify-content-between ps-4 pt-2 pe-2">
                                <!-- back button -->
                                <a id="back" th:href="@{/dashboard/generation}"><i
                                        class="fas fa-chevron-circle-left"></i></a>
                                <!-- option button -->
                                <div>
                                    <div class="dropdown">
                                        <button class="btn " type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li>
                                                <button id="btn-edit-gen"
                                                        class="dropdown-item"
                                                        onclick="editGen()">edit</button>
                                            </li>
                                            <li>
                                                <button id="btn-remove-gen"
                                                        class="dropdown-item"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#modal-remove-gen"
                                                >remove
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--info  -->
                            <form action="#" class="p-2 pt-1"
                                  th:action="@{/dashboard/generation/{id}/edit(id=${generation.getId()})}"
                                  method="post" >
                                <!-- ----------- name--------- -->
                                <div class="gen-name-data ms-3 my-3 mt-3 ">
                                    <div class="d-flex">
                                        <!--  --------------text input---------->
                                        <input type="number" min="1"
                                               th:value="${generation.getGenerationName()}"
                                               name="generationName"
                                               class="form-control gen-data-input"
                                               id="num-gen"
                                               required
                                        >
                                        <div class="valid-tooltip">Look Good</div>
                                        <!-- ------ box style------>
                                        <div class=" gen-text"><h2><span id="tex-gen" th:text="${generation.getGenerationName()}"></span>th
                                            Generation</h2></div>
                                    </div>

                                </div>
                                <!-- ------------------ Type ------------------->
                                <div class="selected-font-style d-flex align-items-center ms-3 mt-4 mb-3">
                                    <div style="width: 90px;">
                                        <label for="gen-type" class="form-label ">Type</label>
                                    </div>
                                    <div class="ms-5">
                                        <select class="form-select data-choose data-choose-class"
                                                id="gen-type" name="type">
                                            <option th:selected="${generation.getType()==1}" th:value="1">Basic</option>
                                            <option th:selected="${generation.getType()==2}" th:value="2">Advanced
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <!-- ------------------ status------------------->
                                <div class="selected-font-style d-flex align-items-center ms-3 my-3">
                                    <div style="width: 90px;">
                                        <label for="gen-status" class="form-label ">Status</label>
                                    </div>
                                    <div class="ms-5">
                                        <select class="form-select data-choose data-choose-class"
                                                id="gen-status" name="status">
                                            <option th:selected="${generation.getStatus()==1}" value=1>Progress</option>
                                            <option th:selected="${generation.getStatus()==0}" value=0>Achieved</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ms-2">
                                    <button type="submit" id="btn-save-gen" class="me-2 btn-gen">Save Change</button>
                                    <a class="btn-gen" id="btn-cancel-gen"
                                       th:href="@{/dashboard/generation/{id}/view(id=${generation.getId()})}">
                                        Cancel
                                    </a>
                                </div>
                            </form>
                        </div>
                        <!-- -----------Box Classwork and student info---------- -->
                        <div class="d-flex justify-content-between mt-5">
                            <!-- class work -->
                            <div
                                    class="class-and-student-box classwork-box-color d-flex flex-column justify-content-between ">
                                <div class="d-flex justify-content-between">
                                    <h5>Class work</h5>
                                </div>
                                <div class="align-self-center">
                                    <i class="fas fa-file-alt"></i>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <p>Total</p>
                                    <p th:text="${totalClassWork}"></p>
                                </div>
                            </div>
                            <!-- student  -->
                            <a style="text-decoration: none"
                               th:href="@{/dashboard/generation/{id}/view/student(id=${generation.getId()})}">
                                <div class="class-and-student-box student-box-color d-flex flex-column justify-content-between ">
                                    <div class="d-flex justify-content-between">
                                        <h5>Student</h5>
                                    </div>
                                    <div class="align-self-center">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <p>Total</p>
                                        <p th:text="${totalStudentGen}"></p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <!-- utility--------------------------------- -->
                <div class="utiliy-section">
                    <div th:replace="~{fragments/Utility :: dateAndTime}"></div>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- -------------modal remove-------------------- -->
<div class="modal fade " id="modal-remove-gen" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
>
    <div style="max-width: 600px; " class=" modal-dialog modal-dialog-centered ">
        <div style="border-radius: 20px !important;" class=" modal-content py-4">
            <div class="w-75 m-auto">
                <!-- ----------- Title ---------->
                <div style="text-align: center" class="modal-title my-2">
                    <h2 style="font-weight: 600; color: #0F7C9D">Remove Generation</h2>
                </div>
                <!-- ---------- Information------------>
                <!-- -------------input --------------->
                <div class="d-flex justify-content-between pt-2 px-5">
                    <!--  ---------label--------->
                    <div>
                        <div><label class="modal-label-gen my-1" for="modal-remove-generation">Generation</label></div>
                        <div><label class="modal-label-gen my-1" for="modal-remove-gen-type">Type</label></div>
                        <div><label class="modal-label-gen my-1" for="modal-remove-gen-status">Status</label></div>
                    </div>
                    <!-- -------- input---------->
                    <div>
                        <div>
                            <input class="modal-input-gen my-1" type="number"
                                   id="modal-remove-generation"
                                   th:value="${generation.getGenerationName()}"
                                   min="1"
                                   readonly
                            >
                            <label class="modal-label-gen ms-1">Gen</label>
                        </div>
                        <div>
                            <select class="modal-select-gen my-1"
                                    id="modal-remove-gen-type"
                                    disabled
                            >
                                <option th:selected="${generation.getType() ==2}" th:value="2">Advanced</option>
                                <option th:selected="${generation.getType() ==1}" th:value="1">Basic</option>
                            </select>
                        </div>
                        <div>
                            <select class="modal-select-gen my-1"
                                    id="modal-remove-gen-status"
                                    disabled
                            >
                                <option th:selected="${generation.getStatus() ==0}" th:value="0">Achived</option>
                                <option th:selected="${generation.getStatus() ==1}" th:value="1">Progress</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-------------- button------------->
                <div class="px-5 mt-4">
                    <a th:href="@{/dashboard/generation/{id}/delete(id=${generation.getId()})}">
                        <button class="btn-modal-gen btn-accept-color me-3">Remove</button>
                    </a>
                    <button class="btn-modal-gen btn-reject-color" id="modal-remove-gen-cancel"
                            data-bs-dismiss="modal"
                    >Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-------custom script-->
<script th:inline="javascript">
    let numGen = document.getElementById("num-gen");
    let textGen = document.getElementById("tex-gen");
    let genType = document.getElementById("gen-type");
    let genStatus = document.getElementById("gen-status");
    let btnCancelGen = document.getElementById("btn-cancel-gen");
    let btnSaveGen = document.getElementById("btn-save-gen");
    let btnModalCancel = document.getElementById("modal-remove-gen-cancel");

    let btnEditGen = document.getElementById("btn-edit-gen");
    let btnRemoveGen = document.getElementById("btn-remove-gen");

    let activeGenId = [[${activeGeneration.getId()}]];
    let genId = [[${generation.getId()}]];

    // console.log("active gen id :",checkArchivedGen);
    // console.log("current gen id :",generation);
    //---------- Initialized style
    numGen.style.display = "none";
    genType.setAttribute("disabled", "disabled");
    genStatus.setAttribute("disabled", "disabled");
    btnCancelGen.style.display = "none";
    btnSaveGen.style.display = "none";

    // ------- remove or edit gen ------------
    if(genId<activeGenId){
        btnEditGen.setAttribute("disabled", "disabled");
        btnRemoveGen.setAttribute("disabled", "disabled");
    }else if(genId===activeGenId){
        // btnEditGen.setAttribute("disabled", "disabled");
        btnRemoveGen.setAttribute("disabled", "disabled");
    }else{
        // btnEditGen.setAttribute("disabled", "disabled");
        // btnRemoveGen.setAttribute("disabled", "disabled");
    }


    btnModalCancel.onclick = (e) => {
        e.preventDefault()
    }

    function editGen() {
        //------ Change style
        textGen.style.display = "none";
        genType.removeAttribute("disabled");
        genStatus.removeAttribute("disabled");
        numGen.style.display = "block";
        btnSaveGen.style.display = "inline-block";
        btnCancelGen.style.display = "inline-block";
    }


</script>

<!-- -----------calendar-------------- -->
<script type="text/javascript" th:src="@{/js/caleandar.js}"></script>
<script type="text/javascript" th:src="@{/js/demo_calendar.js}"></script>
<!---------------time-------------------->
<script type="text/javascript" th:src="@{/js/my-time.js}"></script>

<script th:inline="javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>